{#
/**
 * @file
 * Default theme implementation to present a media item.
 *
 * Available variables:
 * - media: The media item, with limited access to object properties and
 *   methods. Only method names starting with "get", "has", or "is" and
 *   a few common methods such as "id", "label", and "bundle" are available.
 *   For example:
 *   - entity.getEntityTypeId() will return the entity type ID.
 *   - entity.hasField('field_example') returns TRUE if the entity includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   Calling other methods, such as entity.delete(), will result in
 *   an exception.
 *   See \Drupal\Core\Entity\EntityInterface for a full list of methods.
 * - name: Name of the media item.
 * - content: Media content.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - attributes: HTML attributes for the containing element.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 *
 * @see template_preprocess_media()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes }}>
  {{ title_suffix.contextual_links }}

  {# Si dans le mode d'affichage on ajoute le rendu de la miniature #}
  {% if video_url and content.thumbnail %}
    <a href="{{ video_url }}" data-fancybox data-caption="{{ name }}">
      <figure>
        <span class="image-wrapper">
          {{ content.thumbnail[0] }}
          <span class="btn btn--icon icon icon--play-rounded"><span>{{ "Play the video"|t }}</span></span>
        </span>

        <figcaption class="ck-content l-small">
          <p><b>{{ name }}</b></p>
          {{ content.field_legend[0] }}
        </figcaption>

      </figure>
    </a>
  {% else %}
    {{ content }}
  {% endif %}
</div>
