@mixin custom-hover-link($bg, $w: 20px, $h: 1px, $l: 0, $b: 0px) {
  &:after {
    content: "";
    position: absolute;
    left: $l;
    bottom: $b;
    width: $w;
    height: $h;
    background: $bg;
    transform: scaleX(0);
    transform-origin: 100% 50%;
    transition: transform .2s ease-out;
  }
  &:not(.active):hover {
    &:after {
      transform: scaleX(1);
      transform-origin: 0 50%;
    }
  }
}
