@function media-breakpoint-get($breakpoint) {
  @if (type_of($breakpoint) == "number") {
    @return $breakpoint;
  } @else {
    $min: map-get($breakpoints, $breakpoint);
    @return if($min != 0, $min, null);
  }
  @return null;
}

@mixin media-breakpoint-max($breakpoint) {
  $max: media-breakpoint-get($breakpoint);
  @if $max {
    @media screen and (max-width: ($max - 1px)) {
      @content;
    }
  } @else {
    @content;
  }
}

@mixin media-breakpoint-min($breakpoint) {
  $min: media-breakpoint-get($breakpoint);
  @if $min {
    @media screen and (min-width: ($min)) {
      @content;
    }
  } @else {
    @content;
  }
}

@mixin media-breakpoint-min-max($breakpointMin, $breakpointMax) {
  $min: media-breakpoint-get($breakpointMin);
  $max: media-breakpoint-get($breakpointMax);
  @media screen and (min-width: ($min)) and (max-width: ($max - 1px)) {
    @content;
  }
}

