/* ==========================================================================
   TEXT & FONTS
   ========================================================================== */
@mixin font($name, $weight: 400) {
  $font_name: map_get($font-families, $name);
  font-family: $font_name, $font--fallback;
  font-weight: $weight;
}

@mixin font-face($name, $variant, $weight: normal, $style: normal, $overriden_name: '') {
  $file-name: to-lower-case($name);

  @font-face {
    font-family: '#{$name}';
    src: url('../fonts/#{$file-name}-#{$variant}-webfont.woff2') format('woff2'),
    url('../fonts/#{$file-name}-#{$variant}-webfont.woff') format('woff');
    font-weight: $weight;
    font-display: swap; // https://web.dev/font-display/
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
  }
}

@mixin font-icon($filename: null) {
  @include icon-styles;
  content: icon-char($filename);
}


/* ==========================================================================
   STATES
   ========================================================================== */

// Etats des boutons par défaut, et si besoin au hover/focus s'il est disabled
@mixin btn-states-default($disable_fallback: true) {
  & {
    @content;
  }
  @if ($disable_fallback) {
    &:disabled,
    &:disabled:hover,
    &:disabled:focus,
    &.is-disabled,
    &.is-disabled:hover,
    &.is-disabled:focus {
      @content;
    }
  }
}

// Etat des boutons au hover/active/focus, avec fallback sur un lien
@mixin btn-states-user($link_fallback: true) {
  @if ($link_fallback) {
    &:active,
    &.is-active,
    &:focus,
    &:hover,
    a:focus &,
    a:hover & {
      @content;
    }
  } @else {
    &:active,
    &.is-active,
    &:focus,
    &:hover {
      @content;
    }
  }
}


/* ==========================================================================
   VISIBILITY
   ========================================================================== */
/*
 * Only display content to screen readers
 */
@mixin sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  clip-path: inset(50%);
  border: 0;
}

/*
 * Use in conjunction with .sr-only to only display content when it's focused.
 */
@mixin sr-only-focusable {
  &:active,
  &:focus {
    position: static;
    width: auto;
    height: auto;
    overflow: visible;
    clip: auto;
    white-space: normal;
    clip-path: none;
  }
}


/* ==========================================================================
   COLORS
   ========================================================================== */

// Horizontal gradient, from left to right
@mixin gradient-x($start-color: #555, $end-color: #333, $start-percent: 0%, $end-percent: 100%, $orientation: to right) {
  background-image: linear-gradient($orientation, $start-color $start-percent, $end-color $end-percent);
  background-repeat: repeat-x;
}

// Vertical gradient, from top to bottom
@mixin gradient-y($start-color: #555, $end-color: #333, $start-percent: 0%, $end-percent: 100%) {
  background-image: linear-gradient(to bottom, $start-color $start-percent, $end-color $end-percent);
  background-repeat: repeat-x;
}

// Input placeholder styles
@mixin input-placeholder() {
  &::-webkit-input-placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
}


/* ==========================================================================
   LAYOUT
   ========================================================================== */
@mixin clearfix() {
  &::after {
    display: block;
    clear: both;
    content: "";
  }
}

/* ==========================================================================
   ALIGNMENT
   ========================================================================== */

// fit-crop-element
@mixin fit-crop-element() {
  //position: absolute;
  //top: 50%;
  //left: 50%;
  //transform: translateX(-50%) translateY(-50%);
  //min-width: 100%;
  //min-height: 100%;
  //max-width: none;
  //width: auto;
  //height: auto;

  @supports (object-fit: cover) {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    //min-width: unset;
    //min-height: unset;
    object-fit: cover;
    //transform: none;
  }
}

/// Vertically centers the element inside of its first non-static parent,
/// @link http://www.sitepoint.com/centering-with-sass/ Centering With Sass
@mixin vertical-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/// Horizontally centers the element inside of its first non-static parent,
/// @link http://www.sitepoint.com/centering-with-sass/ Centering With Sass
@mixin horizontal-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/// Absolutely centers the element inside of its first non-static parent,
/// @link http://www.sitepoint.com/centering-with-sass/ Centering With Sass
@mixin absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* ==========================================================================
   OTHER
   ========================================================================== */

/// Creates a CSS triangle, which can be used for dropdown arrows, dropdown pips, and more. Use this mixin inside a `&::before` or `&::after` selector, to attach the triangle to an existing element.
@mixin css-triangle($size, $color, $direction) {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border: inset $size;

  @if ($direction == down) {
    border-bottom-width: 0;
    border-top-style: solid;
    border-color: $color transparent transparent;
  }
  @if ($direction == up) {
    border-top-width: 0;
    border-bottom-style: solid;
    border-color: transparent transparent $color;
  }
  @if ($direction == right) {
    border-right-width: 0;
    border-left-style: solid;
    border-color: transparent transparent transparent $color;
  }
  @if ($direction == left) {
    border-left-width: 0;
    border-right-style: solid;
    border-color: transparent $color transparent transparent;
  }
}


/* ==========================================================================
    ROUNDED
   ========================================================================== */
@mixin make-circle($s: 50px, $background: $color--primary, $color: #fff, $fontsize: auto) {
  width: $s;
  height: $s;

  @if ($fontsize == auto) {

  } @else {
    font-size: $fontsize;
  }

  line-height: $s;
  text-align: center;
  color: $color;
  border-radius: 50%;

  @if ($background != null) {
    background: $background;
  }

  box-sizing: border-box;
}

@mixin make-stroke-circle($s: 50px, $background: $color--primary, $color: #fff, $border-width: 1px, $border-color: $color--primary, $fontsize: auto) {
  width: $s;
  height: $s;

  @if ($fontsize == auto) {

  } @else {
    font-size: $fontsize;
  }

  line-height: $s - ($border-width * 2);
  border: $border-width solid $border-color;
  text-align: center;
  color: $color;
  border-radius: 50%;

  @if ($background != null) {
    background: $background;
  }

  box-sizing: border-box;
}

@function implode($pieces, $glue: "") {
  $result: null;
  @for $i from 1 through length($pieces) {
    $piece: nth($pieces, $i);
    @if type-of($piece) == list {
      $result: unquote("#{$result}#{$glue}#{implode($piece, $glue)}");
    } @else {
      $result: unquote("#{$result}#{$glue}#{$piece}");
    }
  }
  @if $result != null {
    $result: str-slice($result, str-length($glue) + 1, -1);
  }
  @return $result;
}

// ----
// Sass (v3.3.4)
// Compass (v1.0.0.alpha.18)
// ----

// Capitalize string
// --------------------------------------------------------------------------------
// @param [string] $string
// --------------------------------------------------------------------------------
// @return [string]

@function capitalize($string) {
  @return to-upper-case(str-slice($string, 1, 1)) + str-slice($string, 2);
}

// Alias
@function str-ucfirst($string) {
  @return capitalize($string);
}


// Uncapitalize string
// --------------------------------------------------------------------------------
// @param [string] $string
// --------------------------------------------------------------------------------
// @return [string]

@function uncapitalize($string) {
  @return to-lower-case(str-slice($string, 1, 1)) + str-slice($string, 2);
}

// Alias
@function str-lcfirst($string) {
  @return uncapitalize($string);
}


// Capitalize each word in string
// --------------------------------------------------------------------------------
// @param [string] $string
// --------------------------------------------------------------------------------
// @return [string]

@function str-ucwords($string) {
  $progress: $string;
  $result: "";

  $running: true;

  @while $running {
    $index: str-index($progress, " ");
    @if $index {
      $result: $result + capitalize(str-slice($progress, 1, $index));
      $progress: str-slice($progress, ($index + 1));
    } @else {
      $running: false;
    }
  }

  @return capitalize($result) + capitalize($progress);
}


// Return whether `$value` is contained in `$list`
// --------------------------------------------------------------------------------
// @param [list] $list
// @param [$value] $value
// --------------------------------------------------------------------------------
// @return [boolean]

@function contain($list, $value) {
  @return not not index($list, $value);
}


// Camelize string
// --------------------------------------------------------------------------------
// @param [string] $string
// --------------------------------------------------------------------------------
// @return [string]

@function camelize($string) {
  $progress: $string;
  $result: "";
  $exclude: " ", "-", "–", "—", "_", ",", ";", ":", ".";

  @while str-length($progress) > 0 {
    $char: str-slice($progress, 1, 1);

    @if contain($exclude, $char) {
      $progress: capitalize(str-slice($progress, 2, 2)) + str-slice($progress, 3);
    } @else {
      $result: $result + $char;
      $progress: str-slice($progress, 2);
    }
  }

  @return $result;
}
