{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}
{% if breadcrumb %}
  <nav class="nav nav--breadcrumb" aria-label="{{ "Breadcrumb"|t }}">
    <ol class="nav-menu" itemscope itemtype="https://schema.org/BreadcrumbList">
      {% for i, item in breadcrumb %}
        {% if item.url %}
          <li class="nav-item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
            <a class="nav-link" href="{{ item.url }}" itemscope itemtype="https://schema.org/WebPage" itemprop="item" itemid="{{ item.url }}">
              <span itemprop="name">{{ item.text }}</span>
              <meta itemprop="position" content="{{ (i + 1) }}"/>
            </a>
            {% if i != breadcrumb|length - 1 %}
              <span class="item-separator icon icon--drop-right">&nbsp;</span>
            {% endif %}
          </li>
        {% else %}
          <li class="nav-item is-active" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem" aria-current="page">
            <span itemprop="name">{{ item.text }}</span>
            <meta itemprop="position" content="{{ (i + 1) }}"/>
          </li>
        {% endif %}
      {% endfor %}
    </ol>
  </nav>
{% endif %}
