{#
/**
 * @file
 * Seven theme implementation to display primary and secondary local tasks.
 *
 * Available variables:
 * - primary: HTML list items representing primary tasks.
 * - secondary: HTML list items representing primary tasks.
 *
 * Each item in these variables (primary and secondary) can be individually
 * themed in menu-local-task.html.twig.
 *
 * @ingroup themeable
 */
#}
{% if primary %}
  <div class="tabs-wrapper">
    <h2 class="sr-only">{{ 'Primary tabs'|t }}</h2>
    {% if edit %}
    <a href="{{ edit }}" class="tabs--primary-toggle">
      {% else %}
      <button class="tabs--primary-toggle">
        {% endif %}
        <span class="sr-only">{{ 'Edit'|t }}</span>
        {% if edit %}
    </a>
  {% else %}
    </button>
    {% endif %}
    <ul class="tabs tabs--primary clearfix">{{ primary }}</ul>
  </div>
{% endif %}
{% if secondary %}
  <h2 class="sr-only">{{ 'Secondary tabs'|t }}</h2>
  <ul class="tabs tabs--secondary clearfix">{{ secondary }}</ul>
{% endif %}
