{#
/**
 * @file
 * Default theme implementation for status messages.
 *
 * Displays status, error, and warning messages, grouped by type.
 *
 * An invisible heading identifies the messages for assistive technology.
 * Sighted users see a colored box. See http://www.w3.org/TR/WCAG-TECHS/H69.html
 * for info.
 *
 * Add an ARIA label to the contentinfo area so that assistive technology
 * user agents will better describe this landmark.
 *
 * Available variables:
 * - message_list: List of messages to be displayed, grouped by type.
 * - status_headings: List of all status types.
 * - attributes: HTML attributes for the element, including:
 *   - class: HTML classes.
 *
 * @ingroup themeable
 */
#}
<div data-drupal-messages class="{{ message_list|keys|join(' ') }}">
  {% for type, messages in message_list %}
    <div class="messages messages--{{ type }}" role="contentinfo" aria-label="{{ status_headings[type] }}"{{ attributes|without('role', 'aria-label') }}>
      {% if type == 'error' %}
      <div role="alert">
        {% endif %}

        {% if type == 'error' %}
          <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="512px" height="512px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                    <path d="M447.8,374.8L330,255.3l119.5-119.5c21-21,21-53.1,0-74.1c-21-21-53.1-21-74.1,0L256,181.8L136.5,62.3
                        c-20.4-21-53.1-21-74.1,0s-21,53.1,0,74.1l119.5,119.5L62.4,374.8c-21,21-21,53.1,0,74.1c34.9,32.6,63.6,10.5,74.1,0L256,329.3
                        l119.5,119.5c29.7,29.7,63.6,10.5,74.1,0C468.8,427.9,468.8,394.1,447.8,374.8z"/>
                    </svg>
        {% elseif type == 'warning' %}
          <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" width="512px" height="512px" xml:space="preserve">
                        <path d="M256,0c-32.6,0-57.3,17.1-57.3,44.4v252.4c0,27.6,24.6,44.4,57.3,44.4c31.9,0,57.3-17.6,57.3-44.4V44.4C313.5,17.6,287.9,0,256,0z"/>
            <path d="M256,398.3c-31.4,0-56.7,25.6-56.7,57S224.9,512,256,512s56.7-25.6,56.7-56.7C313,423.6,287.4,398.3,256,398.3z"/>
                    </svg>
        {% else %}
          <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="512px" height="512px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                        <path d="M214.1,435.5c-0.6,0.6-1.3,1.9-1.9,3.2c-16,16-39.7,20.5-60.2,12.2c-7.7-2.6-14.7-7-20.5-12.8
                        c-1.3-1.9-2.6-3.2-3.2-5.1L16.2,321.5c-21.8-21.8-21.8-57,0-78.1c21.8-21.8,57-21.8,78.1,0l74.9,74.9L414.5,73.1
                        c22.4-22.4,58.9-22.4,80.7,0c22.4,22.4,22.4,58.9,0,80.7L214.1,435.5z"/>
                    </svg>
        {% endif %}

        {% if status_headings[type] %}
          <h2 class="visually-hidden">{{ status_headings[type] }}</h2>
        {% endif %}
        {% if messages|length > 1 %}
          <ul>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
          </ul>
        {% else %}
          {{ messages|first }}
        {% endif %}

        {% if type == 'error' %}
      </div>
      {% endif %}
    </div>
  {% endfor %}
</div>
