/* ==========================================================================
   Spinner
   ========================================================================== */
.spinner--overlay {
  position: relative;
}

.spinner-wrapper {
  opacity: 0;
  visibility: hidden;
  z-index: 1001;
  pointer-events: none;
  transition: .3s;

  .is-loading.l-spinner > & {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
}

/* ==========================================================================
   Overlay
   ========================================================================== */
.spinner--overlay {
  .spinner-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .2);
  }

  .spinner-wrapper-inner {
    position: absolute;
    z-index: $zindex--default;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    width: 44px;
    height: 44px;
    box-shadow: 0 5px 15px rgba(#000, .25);
  }

  .spinner-text {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, var(--frontend--valign--small));
    width: 300px;
    color: #fff;
    @include font(primary, 700);
    text-align: center;
  }

  &.l-spinner {
    .spinner-wrapper-inner {
      background: no-repeat center $spinner--color;
      border-radius: 50%;
    }

    &.is-loading {
      .spinner-wrapper-inner {
        background-image: url("../images/spinner.svg");
      }
    }
  }
}

/* ==========================================================================
   Inline
   ========================================================================== */
.spinner--inline {
  .spinner-wrapper {
    display: none;
  }

  &.is-loading {
    &:before {
      opacity: 0;
    }

    .form-text,
    .form-autocomplete {
      background-image: url("../images/spinner--inline.svg");
      background-repeat: no-repeat;
      background-position: 93% center;
      background-size: auto 40%;
    }
  }
}

