.togglemenu-toggle {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
  border: 0;
  color: $color--text;
  background-color: transparent;

  .label {
    @include font(primary, 500);
    min-width: 62px;
  }

  .burger {
    position: relative;
    display: block;
    width: 24px;
    height: 16px;
    transform: rotate(0deg);
    margin-right: 10px;
    transition: .5s ease-in-out;

    .icon-item {
      display: block;
      position: absolute;
      height: 2px;
      width: 100%;
      background: $color--primary;
      opacity: 1;
      left: 0;
      transform: rotate(0deg);
      transition: .25s ease-in-out;
    }

    .item--1 {
      top: -1px;
    }
    .item--2 {
      top: 7px;
    }
    .item--3 {
      top: 15px;
    }

    /* States
       ========================================================================== */
    .is-togglemenu-push-open & {
      .item--1 {
        top: 6px;
        transform: rotate(135deg);
      }
      .item--2 {
        opacity: 0;
        left: -30px;
      }
      .item--3 {
        top: 6px;
        transform: rotate(-135deg);
      }
    }
  }
}


.togglemenu--push {
  position: fixed;
  z-index: $zindex--sticky - 1;
  top: 28px;
  right: 0;
  bottom: 0;
  width: 100%;
  max-width: 320px;
  background-color: #fff;
  overflow: auto;
  overflow-x: hidden;
  transform: translateX(100%);
  box-shadow: 0 -4px 10px rgba(#000, .1);
  transition: transform .3s;
  box-sizing: border-box;

  .is-main-header-fixed & {
    top: 0;
  }

  .nav-menu {
    display: block;
    margin: 0;
    padding: 0;
  }
  .nav-item {
    list-style: none;

    a {
      position: relative;
      display: flex;
      align-items: center;
      padding: 12px 24px;
      @include font(primary, 500);
      color: $color--text;

      br {
        display: none;
      }

      &:hover,
      &:focus {
        color: $color--primary;
        background-color: $color--background-secondary;
      }
    }
  }

  .togglemenu-menu,
  .togglemenu-header {
    a {
      &:after {
        @include font-icon(drop-right);
        margin-left: auto;
        font-size: 12px;
        color: $color--text-lighter;
      }

      &:hover,
      &:focus {
        &:after {
          color: inherit;
        }
      }
    }
    .nav-item {
      &.level-1 {
        border-bottom: 1px solid $color--border;
      }
    }
  }
  .togglemenu-menu {
    .is-parent {
      > a {
        &:after {
          @include font-icon(drop-bottom);
          color: $color--primary;
        }
      }

      &.is-active {
        > a {
          color: #fff;
          background-color: $color--primary;

          &:after {
            color: inherit;
          }
        }
      }
    }
  }

  //.togglemenu-links {
  //  a {
  //    background-color: $color--primary;
  //    color: #fff;
  //
  //    .item-icon {
  //      flex-shrink: 0;
  //      margin-right: 10px;
  //      font-size: 20px;
  //    }
  //    .item-title {
  //      line-height: 1.1;
  //    }
  //  }
  //}
  //
  //.togglemenu-social {
  //  .nav-menu {
  //    display: flex;
  //    justify-content: center;
  //
  //    a {
  //      font-size: 16px;
  //    }
  //  }
  //}
}
