/* ==========================================================================
   MAINTENANCE PAGE
   ========================================================================== */
body.maintenance-page {
  padding: 45px 30px;
  background-color: $color--background-secondary;
  box-sizing: border-box;

  .maintenance-wrapper {
    padding-bottom: var(--frontend--valign);
    background-color: $color--background;
    border-radius: var(--frontend--border-radius);
    box-shadow: 0 10px 30px rgba(#000, .1);
  }

  .maintenance-logo {
    display: block;
    text-align: left;
    padding: var(--frontend--valign--medium) 0;
    margin-bottom: var(--frontend--valign--medium);
    border-bottom: 1px solid $color--background-secondary;

    img {
      max-width: 300px;
      display: block;
    }
  }

  .maintenance-site-name {
    @include sr-only;
  }

  h1 {
    margin-bottom: var(--frontend--valign--medium);
  }

  .maintenance-content {
    max-width: 600px;
    margin: 0 auto;
    font-size: var(--frontend--font-size--big);
    color: $color--text-lighter;
  }

}
