/* ==========================================================================
   PAGE
   ========================================================================== */
.page {
  overflow: hidden;
}

/* ==========================================================================
   Header
   ========================================================================== */
.page-header {
  z-index: $zindex--sticky;
  background: var(--frontend--header--background);
  transition: .2s;

  @include media-breakpoint-max(responsive-menu) {
    .page-header-top,
    .page-header-bottom .nav--main {
      display: none;
    }
  }
}


.page-header-bottom {
  position: relative;
  transition: .2s;

  > .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    display: flex;
    align-items: center;
    height: var(--frontend--header--height);

    img {
      filter: var(--frontend--header--logo-filter);
    }
  }

  .block--system-branding-block {
    margin-right: auto;
  }
}


/* ==========================================================================
   Contenu
   ========================================================================== */
.page-main {
  padding-bottom: var(--frontend--valign--huge);
}

.l-sidebar {
  @include media-breakpoint-min(tablet) {
    display: flex;

    .content-body {
      flex: 1;
      overflow: hidden;
    }
    .content-sidebar {
      @include media-breakpoint-min(tablet) {
        flex: 0 0 490px;
        max-width: 490px;
        gap: 5%;
      }
    }
  }
}

/* ==========================================================================
   CONTENT BEFORE
   ========================================================================== */
.content-before {
  position: relative;
  padding-top: var(--frontend--valign--small);
  padding-bottom: 1px;
  margin-bottom: var(--frontend--valign);
  box-sizing: border-box;

  &.l-banner-bg,
  &.l-color-bg {
    overflow: hidden;
    margin-bottom: var(--frontend--valign--big);
    padding-bottom: var(--frontend--valign--big);
  }

  /* Couleur de fond
     ========================================================================== */
  &.l-color-bg {
    background-color: $color--primary-darker;
  }

  /* Bannière de fond
     ========================================================================== */
  &.l-banner-bg {
    background-color: $color--primary-darker;

    .content-header-banner {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      pointer-events: none;

      &:before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        height: 100%;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, 0.15) 100%);
        background-repeat: repeat-x;
      }

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }
}

/* ==========================================================================
   CONTENT HEADER / HERO
   ========================================================================== */
.content-header {
  position: relative;
  margin-top: var(--frontend--valign);
  box-sizing: border-box;
}

.content-header-tags {
  display: flex;
  gap: 10px;
  margin-top: var(--frontend--valign--medium);

  .content-header-tag {
    margin: 0;
  }
}

.content-header-icon {
  width: 70px;
  height: 70px;
  margin-bottom: var(--frontend--valign--medium);
}

.content-header-title {
  //margin-bottom: 0;
}

.content-header-subtitle {
  margin-top: -1em;
}



/* ==========================================================================

   ========================================================================== */
.content {
  position: relative;
}


.content-body,
.content-sidebar {
  //padding-top: var(--frontend--valign);
}

.content-body {
}


.content-footer {
}

.content-after {

}

.content-views {
  margin-bottom: var(--frontend--valign--huge);

  .block,
  .views {
    margin-bottom: var(--frontend--valign);
  }
}


/* Sidebar
   ========================================================================== */
.content-sidebar {
  .block {
    margin-bottom: var(--frontend--valign--small);
  }
}


/* ==========================================================================
   Footer
   ========================================================================== */
.page-footer {
  background-color: $color--primary-darker;
}

.page-footer-middle {
  padding-top: var(--frontend--valign--big);
  padding-bottom: var(--frontend--valign--large);

  @include media-breakpoint-min(tablet) {
    > .row {
      display: flex;
      justify-content: space-between;
      gap: 6%;
    }
  }

  .nav-menu {
    display: block;
  }

  .nav-item {
    margin-bottom: 1.35em;
  }

  .nav-link {
    padding: 4px 0;
    @include custom-hover-link(#fff);
  }
}

.page-footer-bottom {
  padding-top: var(--frontend--valign--medium);
  padding-bottom: var(--frontend--valign--medium);
}
