/* ==========================================================================
   SITEMAP
   ========================================================================== */
.sitemap {
  svg,
  a br {
    display: none;
  }

  ul {
    ul {
      margin-left: 2em;
    }
  }

  .sitemap-plugin--frontpage {
    margin-bottom: var(--frontend--valign--medium);
  }
}
