{% extends "block.html.twig" %}
{#
/**
 * @file
 * Default theme implementation for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 *
 * @ingroup themeable
 */
#}

{% block content %}
  {% if site_logo %}
    <div class="logo logo--primary">
      <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">
        {% set logo_alt = (site_alt_logo) ? site_alt_logo : site_name %}
        <img src="{{ site_logo }}" alt="{{ logo_alt }}" width="240" height="40"/>
      </a>
    </div>
  {% endif %}
{% endblock %}
