{#
/**
 * @file
 * Default theme implementation for page titles.
 *
 * Available variables:
 * - title_attributes: HTML attributes for the page title element.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @ingroup themeable
 */
#}
<div {{ attributes.addClass('content-header') }}> {# class="content-header" #}
  {{ title_prefix }}

  {% if categories %}
    <div class="content-header-tags">
      {% for category in categories %}
        <p class="content-header-tag tag tag--primary">{{ category }}</p>
      {% endfor %}
    </div>
  {% endif %}

  {% if title %}
  <{{ title_tag }} {{ title_attributes.addClass('content-header-title') }}>{{ title }}</{{ title_tag }}>
{% endif %}

    {{ title_suffix }}

  {% if subtitle %}
    <div {{ subtitle_attributes.addClass('content-header-subtitle') }}>{{ subtitle }}</div>
  {% endif %}
</div>
