/* ==========================================================================
   COLORS
   ========================================================================== */
$color--primary: #0081C6;
$color--primary-darker: #114A69;
$color--primary-light: #4c9bd2;
$color--primary-lighter: #0081C650;

$color--secondary: #1EB5D3;

$color--text: #111111;
$color--text-lighter: #50636C;
$color--text-darker: #000;

$color--background: #fff;
$color--background-secondary: #F7F7F7;

$color--border: #D9D9D9;

$colors-theme: (
  // ID PrimaryColor PrimaryColorDarker PrimaryColorTransparency TextColor TextSecondaryColor
  "primary" $color--primary $color--primary-darker $color--primary-lighter #ffffff #ffffff,
  "secondary" $color--secondary $color--primary-darker $color--primary-lighter #ffffff #ffffff,
  "tertiary" $color--secondary $color--primary-darker $color--primary-lighter #ffffff #ffffff,
  "gray" $color--background $color--background-secondary $color--background-secondary $color--text $color--text
);

:root {
  // Global colors
  --frontend--theme--color: #{$color--primary};
  --frontend--theme--text-color: #{$color--text};
  --frontend--theme--title-color: #{$color--text};
  --frontend--theme--link-color: #{$color--primary-darker};
  --frontend--theme--bullet-color: #{$color--primary};

  // Btn
  --frontend--btn--color-main: #{$color--primary-darker};
  --frontend--btn-primary--text-color: #fff;
  --frontend--btn-primary--border-color: #{$color--primary-lighter};
  --frontend--btn-primary--background-color: #{$color--primary};
  --frontend--btn-primary--text-hover-color: #{$color--primary};
  --frontend--btn-primary--border-hover-color: #{$color--primary};
  --frontend--btn-primary--background-hover-color: transparent;

  // Tag
  --frontend--tag--text-color: #fff;
  --frontend--tag--background-color: #{$color--primary};

  // Header
  --frontend--header--height: 90px;
  --frontend--header--background: #fff;
  --frontend--header-top--background: #{$color--primary};
  --frontend--header-top--background-hover: #{$color--primary-light};
  --frontend--header--color: #{$color--text};
  --frontend--header--logo-filter: none;
  --frontend--megamenu--color: #{$color--primary-darker};

  // Radius
  --frontend--border-radius: 20px;
}


/* ==========================================================================
   FONT
   ========================================================================== */
$font-families: (
  "primary": "Arial",
);
$font--fallback: Arial, sans-serif;
$font--icon-version: 1;


/* ==========================================================================
   RESPONSIVE BREAKPOINTS
   ========================================================================== */
$breakpoints: (
  "screen-max": 1920px,
  "screen-big": 1480px,
  "screen": 1280px,
  "screen-small": 1140px,
  "responsive-menu": 1140px, // déclaré en JS aussi
  "tablet": 1024px,
  "smartphone": 768px,
  "smartphone-small": 500px
);
@import "../mixins/mixin-responsive";

:root {
  //--frontend--breakpoints: #{$breakpoints};
  @each $breakpoint, $value in $breakpoints {
    --frontend--breakpoint--#{$breakpoint}: #{$value};
  }

  --frontend--row: var(--frontend--breakpoint--screen);
  --frontend--row--small: var(--frontend--breakpoint--screen-small);
  --frontend--row--big: var(--frontend--breakpoint--screen-big);
  --frontend--row--full: var(--frontend--breakpoint--screen-max);
}

/* ==========================================================================
   GRID
   ========================================================================== */
:root {
  --frontend--valign: 60px;
  --frontend--valign--tiny: 15px; // 15
  --frontend--valign--small: 20px; // 20
  --frontend--valign--medium: calc(var(--frontend--valign) * 1 / 2); // 30
  --frontend--valign--large: calc(var(--frontend--valign) * 3 / 4); // 45
  --frontend--valign--big: calc(var(--frontend--valign) * 1.5); // 90
  --frontend--valign--huge: calc(var(--frontend--valign) * 2); // 120

  --frontend--valign--content: var(--frontend--valign--medium);

  --frontend--gutter: 30px;
  --frontend--gutter--row: 30px;
  --frontend--gutter--inner: 20px;

  @include media-breakpoint-max(smartphone) {
    --frontend--gutter: 20px;
    --frontend--gutter--row: 20px;

    --frontend--valign: 40px;
  }
}

$padding--vertical: 1em;
$padding--horizontal: 1.875em;


/* ==========================================================================
   TEXT + TITLE
   ========================================================================== */
:root {
  --frontend--font-size--tiny: 12px;
  --frontend--font-size--small: 13px;
  --frontend--font-size--default: 15px;
  --frontend--font-size--big: 18px;
  --frontend--font-size--huge: 20px;

  --frontend--body--font-size: var(--frontend--font-size--default);
  --frontend--body--line-height: 1.75;

  @include media-breakpoint-max(smartphone) {
    --frontend--body--font-size: 14px;
    --frontend--font-size--big: 16px;
    --frontend--font-size--huge: 18px;
  }

  /* ==========================================================================
   TITLE
   ========================================================================== */
  --frontend--title-h1--font-size: 55px;
  --frontend--title-h2--font-size: 42px;
  --frontend--title-h3--font-size: 26px;
  --frontend--title-h4--font-size: 20px;

  --frontend--title-medium--font-size: 35px;

  --frontend--title--line-height: 1.2;

  @include media-breakpoint-max(smartphone) {
    --frontend--title-h1--font-size: 42px;
    --frontend--title-h2--font-size: 34px;
    --frontend--title-h3--font-size: 26px;
    --frontend--title-h4--font-size: 20px;
    --frontend--title-medium--font-size: 26px;
  }
}


/* ==========================================================================
   ZINDEX
   ========================================================================== */
$zindex--default: 5;
$zindex--small: 25;
$zindex--medium: 50;
$zindex--big: 80;
$zindex--sticky: 100;
$zindex--huge: 1000;


/* ==========================================================================
   BTN
   ========================================================================== */
$btn--color: $color--text;
$btn--border-width: 1px;
$btn--border-color: #fff;
$btn--border-radius: 5px;
$btn--background: #fff;
$btn--fontsize: var(--frontend--font-size--small);
$btn--lineheight: 1.4;
$btn--padding-horizontal: $padding--horizontal;
$btn--padding-vertical: $padding--vertical;


/* ==========================================================================
   INPUT
   ========================================================================== */
$input--padding-horizontal: 20px;
$input--padding-vertical: 13px;
$input--color: $color--text;
$input--fontsize: var(--frontend--font-size--default);
$input--lineheight: 1.4;
$input--border-color: $color--border;
$input--border-width: 1px;
$input--border-radius: 25px;
$input--background: $color--background;
$input--color-focus: $color--primary-darker;


/* ==========================================================================
   TAG
   ========================================================================== */
$tag--color: var(--frontend--tag--text-color);
$tag--border-radius: 5px;
$tag--background: var(--frontend--tag--background-color);
$tag--fontsize: var(--frontend--font-size--tiny);
$tag--lineheight: 1.1;
$tag--padding-horizontal: 12px;
$tag--padding-vertical: 5px;


/* ==========================================================================
   TABLE
   ========================================================================== */
$table--color: $color--text;
$table--border: $color--background;
$table--fontsize: var(--frontend--font-size--small);
$table--background-thead: $color--primary;
$table--background-odd: $color--background;
$table--background-even: $color--background-secondary;
$table--padding-horizontal: $padding--horizontal;
$table--padding-vertical: $padding--vertical;


/* ==========================================================================
   NOTICE
   ========================================================================== */
$notice--color: $color--text;
$notice--fontsize: var(--frontend--font-size--default);
$notice--background: $color--background;
$notice--info-color: #5bc0de;
$notice--success-color: #5cb85c;
$notice--error-color: #d9534f;
$notice--warning-color: #f0ad4e;


/* ==========================================================================
   TABS
   ========================================================================== */
$tabs--background: $color--background-secondary;
$tabs--color: $color--text-lighter;
$tabs--border: $color--border;
$tabs--color-active: $color--primary;
$tabs--btn-size: 60px;


/* ==========================================================================
   SPINNER
   ========================================================================== */
$spinner--color: $color--primary;


/* ==========================================================================
   SLIDER SWIPER
   ========================================================================== */
:root {
  --swiper-theme-color: #{$color--secondary};
  --swiper-navigation-size: 50px;
}
