/* ==========================================================================
   GLOBAL
   ========================================================================== */
html,
body {
  width: 100%; // Fix iPad container
}

html {
  font-size: var(--frontend--body--font-size);
}

body {
  color: $color--text;
  @include font(primary);
  line-height: var(--frontend--body--line-height);
  background-color: $color--background-secondary;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* ==========================================================================
   INLINE
   ========================================================================== */
a {
  color: var(--frontend--theme--link-color);
  text-decoration: none;
  transition: .2s;

  &:not(.btn):hover,
  &:not(.btn):focus {
    text-decoration: none;
  }
}

strong,
b {
  @include font(primary, 700);
}


/* ==========================================================================
   TEXT
   ========================================================================== */
p,
blockquote,
form,
table,
ul,
ol,
h1,
h2,
h3,
h4,
h5 {
  margin: 0 0 var(--frontend--valign--content);
}
.l-small {
  --frontend--valign--content: 20px;
}

blockquote {
  position: relative;
  padding: var(--frontend--valign--big) 8% var(--frontend--valign--large);
  background-color: $color--background;
  font-size: var(--frontend--font-size--big);

  &:before {
    @include font-icon(quote);
    position: absolute;
    top: -20px;
    left: -20px;
    font-size: 110px;
    line-height: 1;
    color: var(--frontend--theme--color);
  }

  > p {
    margin-bottom: 1em;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  footer {
    margin-top: var(--frontend--valign--medium);
    padding-top: var(--frontend--valign--medium);
    border-top: 1px solid $color--border;
    font-size: var(--frontend--font-size--small);
  }
}

.text-small {
  font-size: var(--frontend--font-size--tiny);
}

.text-big {
  font-size: var(--frontend--title-h2--font-size);
  line-height: var(--frontend--title--line-height);
}


/* ==========================================================================
   LISTING
   ========================================================================== */
li {
  margin: 0;
}

ul,
ol {
  padding: 0;
  list-style-position: inside;
}

ul {
}

ol {
}


/* ==========================================================================
   MEDIA
   ========================================================================== */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

iframe {
  max-width: 100%;
  border: 0;
}

figure {
  margin: 0;
}

figcaption {

}

hr {
  height: 1px;
  margin: var(--frontend--valign) auto;
  background: $color--border;
  border: 0;
}

fieldset {
  min-width: 0;
  padding: $padding--vertical $padding--horizontal;
  border: 1px solid $color--border;
}


/* ==========================================================================
   TABLE
   ========================================================================== */
table {
  width: 100% !important;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  border: 0;
  border-bottom: 2px solid $table--background-even;
  border-collapse: collapse;
  border-spacing: 0;
  overflow: hidden;
  font-size: var(--frontend--font-size--small);

  p {
    margin: 0;
  }

  caption {
    margin-bottom: var(--frontend--valign--medium);
    font-style: italic;
  }

  th,
  td {
    border: 0;
    vertical-align: middle;
    padding: $table--padding-vertical $table--padding-horizontal;
    text-align: left;

    & + & {
      //border-left: 1px solid $table--border;
    }
  }

  th {
    color: #fff;
    @include font(primary, 500);
  }

  thead {
    background-color: $table--background-thead;

    &,
    a {
      color: #fff;
    }

    tr {
    }

    th,
    td {
      border: 1px solid $table--background-thead;
    }

    th + th {
      border-left: 2px solid $color--background;
    }
  }

  tbody {
    td {
      //border: 1px solid $color--border;
      //background-color: $table--background-odd;
    }

    tr:not(:last-of-type) {
      //border-bottom: 1px solid $table--background-thead;
    }

    tr:nth-of-type(even) {
      td {
        //background-color: $table--background-even;
      }
    }

    tr {
      &:nth-of-type(odd) {
        background-color: $table--background-odd;
      }

      &:nth-of-type(even) {
        background-color: $table--background-even;
      }
    }
  }
}
