#skip-link {
  margin: 0;
}

// Remove Drupal ajax views spinner
.ajax-progress {
  display: none;
}

pre.sf-dump,
pre.sf-dump
.sf-dump-default {
  text-align: left;
  z-index: 0;
}

.node-preview-form-select {
  .form-item-view-mode {
    display: none !important;
  }
}

[data-drupal-messages] {
  margin: var(--frontend--valign--large) 0 var(--frontend--valign);
}


/* ==========================================================================
   TABS PRIMARY + SECONDARY
   ========================================================================== */
.tabs-wrapper {
  position: fixed;
  width: $tabs--btn-size*2;
  height: $tabs--btn-size*2;
  z-index: $zindex--big + $zindex--small;
  left: 0;
  bottom: 0;

  &:focus,
  &:hover {
    .tabs--primary {
      opacity: 1;
      visibility: visible;
    }
  }

  .route--user-login &,
  .route--user-pass & {
    display: none;
  }
}

.tabs--primary-toggle {
  position: absolute;
  z-index: $zindex--small;
  left: 30px;
  bottom: 30px;
  padding: $tabs--btn-size / 4;
  width: $tabs--btn-size;
  height: $tabs--btn-size;
  background: $color--primary;
  border-radius: 50%;
  text-align: center;
  box-sizing: border-box;
  box-shadow: 0 0 0 6px rgba(#fff, .15);
  transition: .2s;

  &:before {
    @include font-icon(edit);
    color: #fff;
    font-size: 20px;
  }
}

.tabs--primary {
  position: absolute;
  z-index: $zindex--default;
  bottom: 60px;
  left: 30px;
  display: flex;
  flex-direction: column-reverse;
  margin: 0;
  padding: var(--frontend--valign--small) 0 30px;
  min-width: 150px;
  background: $color--background;
  font-size: var(--frontend--font-size--small);
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(#000, .25);
  opacity: 0;
  visibility: hidden;
  transition: .3s;

  li {
    display: block;
    float: none;
    width: 100%;
    margin-bottom: -1px;
    background: none;

    a {
      display: block;
      padding: 8px var(--frontend--gutter--inner);
      color: $color--text-lighter;
      line-height: 1.3;
      background: none;
      transition: .3s;

      &:focus,
      &:hover,
      &.is-active {
        color: $color--text-darker;
      }

      &:focus,
      &:hover {
        background-color: $color--background-secondary;
      }
    }
  }
}
