.ck-content {
  /* ALignement
     ========================================================================== */
  .align-center,
  .text-align-center,
  *[data-align="center"] {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .align-left,
  .text-align-right,
  *[data-align="right"] {
    margin-left: auto;
    text-align: right;
  }

  /* Titles
     ========================================================================== */
  h2,
  h3,
  h4 {
    &:not(:first-child) {
      margin-top: calc(var(--frontend--valign--content) * 1.5);
    }
  }

  /* Buttons & links
     ========================================================================== */
  a:not([class]) {
    text-decoration: underline;
    @include font(primary, 500);

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }

  .btn {
    margin-block: 5px 5px;
    vertical-align: middle;

    + .btn {
      margin-inline: 5px 0;
    }
  }

  /* Listes
  ========================================================================== */
  ul:not([class]),
  ol:not([class]) {
    ul,
    ol {
      margin-left: 2em;
      margin-top: calc(var(--frontend--valign--content) * 2 / 3);
    }

    li {
      position: relative;
      margin-bottom: calc(var(--frontend--valign--content) * 1 / 3);

      &:last-child {
        margin-bottom: 0;
      }

      &:before {
        display: inline-block;
        margin-right: .85em;
      }
    }
  }

  /* Lists
     ========================================================================== */
  ul:not([class]) {
    list-style: disc inside;

    li {
      list-style: none;

      &:before {
        content: "";
        position: relative;
        top: -.2em;
        width: 16px;
        height: 3px;
        border-radius: 3px;
        background-color: var(--frontend--theme--bullet-color);
      }
    }
  }

  ol:not([class]) {
    list-style: none;
    counter-reset: decimal;

    & > li {
      counter-increment: decimal;

      &:before {
        content: counter(decimal) ".";
        color: var(--frontend--theme--bullet-color);
      }
    }
  }

  /* Tables / tablesaw
     ========================================================================== */
  .tablesaw-stack td,
  .tablesaw-stack th {
    padding: $table--padding-vertical $table--padding-horizontal;
  }

  /* Last element
  ========================================================================== */
  > *:last-child,
  > .inner > *:last-child {
    margin-bottom: 0 !important;
  }
}


/*
   ========================================================================== */
.ck-content.ck-editor__editable .ck-list-bogus-paragraph {
  display: inline;
}
