.clearfix {
  @include clearfix();
}

.is-visuallyHidden,
.sr-only {
  @include sr-only();
}

.sr-only-focusable {
  @include sr-only-focusable();
}


.is-responsive {
  @include media-breakpoint-min(responsive-menu) {
    display: none !important;
  }
}

.is-not-responsive {
  @include media-breakpoint-max(responsive-menu) {
    display: none !important;
  }
}


/* ==========================================================================
   Header sticky / par dessus le content before
   ========================================================================== */
.is-header-sticky {
  .page-header {
    position: fixed;
    z-index: $zindex--sticky;
    top: 0;
    left: 0;
    right: 0;
  }

  .page-offset {
    display: block;
    height: 140px; // modifié en JS
  }

  // Mode THEME banner : menu transparent par dessus page bannière + color white
  &.l-content-banner {
    --frontend--header--background: linear-gradient(to bottom, rgba(0, 0, 0, .6) 0%, rgba(0, 0, 0, 0) 100%);
    --frontend--header-top--background: #{$color--primary};
    --frontend--header--color: #fff;
    --frontend--header--logo-filter: brightness(0) invert(1); // white
  }

  // Mode THEME normal
  &:not(.l-content-banner) {
    //--frontend--header--background: #00000000;
    //--frontend--header-top--background: #{$color--primary};
    //--frontend--header--color: #fff;
    //--frontend--header--logo-filter: brightness(0) invert(1); // white
  }

  // Mode réduit sticky : fond blanc, réduit en hauteur
  &.is-main-header-reduced {
    --frontend--header--background: #fff;
    --frontend--header-top--background: #{$color--primary};
    --frontend--header--color: #{$color--text};
    --frontend--header--logo-filter: none;
    --frontend--header--height: 60px;

    .page-header {
      box-shadow: 0 2px 5px rgba(#000, .1);
    }

    .page-header-top {
      .nav-link {
        padding-top: 6px;
        padding-bottom: 6px;
      }
    }

    .page-header-bottom {
      .logo--primary img {
        width: 130px;
      }
    }
  }
}

/* BO
   ========================================================================== */
.gin--horizontal-toolbar {
  .page-header {
    top: calc(var(--gin-toolbar-height) + var(--gin-toolbar-secondary-height));
  }

  &.is-main-header-reduced {
    .page-header {
      top: calc(var(--gin-toolbar-height));
    }
  }
}


/* ==========================================================================

   ========================================================================== */
.is-togglemenu-open {
  .togglemenu--push {
    transform: translateX(0);
  }

  .togglemenu-toggle {
    .item--1 {
      top: 6px;
      transform: rotate(135deg);
    }

    .item--2 {
      opacity: 0;
      left: -30px;
    }

    .item--3 {
      top: 6px;
      transform: rotate(-135deg);
    }
  }
}
