/* ==========================================================================
   Theme color white
   ========================================================================== */
.theme-white,
.theme-white-contrast {
  --frontend--theme--text-color: #fff;
  --frontend--theme--title-color: #fff;
  --frontend--theme--link-color: #fff;
  --frontend--theme--bullet-color: #fff;
  --frontend--btn--color-main: #fff;

  & {
    color: var(--frontend--theme--text-color);
  }

  .btn--primary {
    &:not(.stroke) {
      --frontend--btn-primary--text-hover-color: var(--frontend--theme--text-color);
      --frontend--btn-primary--border-hover-color: var(--frontend--theme--text-color);
      --frontend--btn-primary--background-hover-color: #00000020;
    }

    &.stroke {
      --frontend--btn-primary--text-color: var(--frontend--theme--text-color);
      --frontend--btn-primary--border-color: var(--frontend--theme--text-color);
      --frontend--btn-primary--background-color: #00000020;
    }
  }
}

// Text shadow sur le texte, par exemple si image de fond
.theme-white-contrast {
  text-shadow: 0 0 6px rgba(#000, .3);

  .btn:not(.stroke),
  .tag {
    text-shadow: none;
  }
}

/* ==========================================================================
   Theme thématique
   ========================================================================== */
@each $theme, $color, $color-darker, $color-lighter, $color-text, $color-text-secondary in $colors-theme {

  /* Theme avec couleur de fond
     ========================================================================== */
  .theme-background-#{$theme} {
    //--frontend--theme--text-color: #{$color-text};
    //--frontend--theme--title-color: #{$color-text};
    //--frontend--theme--bullet-color: #{$color-text};
    //--frontend--theme--link-color: #{$color-text};
    //--frontend--theme--color: #{$color};
    //--frontend--btn--color-main: #{$color-text};
    //
    //& {
    //  color: var(--frontend--theme--text-color);
    //}
    //
    //.btn--primary {
    //  &:not(.stroke) {
    //    --frontend--btn-primary--text-color: #{$color};
    //    --frontend--btn-primary--border-color: #{$color-lighter};
    //    --frontend--btn-primary--background-color: var(--frontend--btn--color-main);
    //    --frontend--btn-primary--text-hover-color: var(--frontend--btn--color-main);
    //    --frontend--btn-primary--border-hover-color: var(--frontend--btn--color-main);
    //    --frontend--btn-primary--background-hover-color: transparent;
    //  }
    //
    //  &.stroke {
    //    --frontend--btn-primary--text-color: var(--frontend--btn--color-main);
    //    --frontend--btn-primary--border-color: var(--frontend--btn--color-main);
    //    --frontend--btn-primary--background-color: transparent;
    //    --frontend--btn-primary--text-hover-color: #{$color};
    //    --frontend--btn-primary--border-hover-color: var(--frontend--btn--color-main);
    //    --frontend--btn-primary--background-hover-color: var(--frontend--btn--color-main);
    //  }
    //}

    &.l-theme-background-full {
      position: relative;
      background: none;

      &:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 50%;
        width: 100vw;
        margin-left: -50vw;
      }
    }
  }

  /* Theme fond uni
 ========================================================================== */
  .theme-background-#{$theme} {
    background-color: $color;

    &.l-theme-background-full:before {
      background-color: $color;
    }
  }

  /* Theme sur la couleur du text
     ========================================================================== */
  .theme-ckeditor-#{$theme} {
    --frontend--theme--text-color: #{$color};
    --frontend--theme--color: #{$color};
    --frontend--theme--bullet-color: #{$color};
  }
}
