$background--color: #EFEFEF;
$background--white: #FFFFFF;
$color--white: #E7E7E9;
$color--primary: #0081C6;
$color--secondary: #114A69;
$color--black: #111111;
$colo--grey-light: #7B7B7B;
$color--grey: #454545;

table {
  width: 100%;
}

table td,
table th {
  padding: 0;
}

#outlook a {
  padding: 0;
}

.ExternalClass {
  width: 100%;
}

.ExternalClass, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {
  line-height: 100%;
}

.mobile,
.aAU br,
.ExternalClass br {
  display: none !important;
}

.ExternalClass img,
img {
  border: 0 !important;
}

p,
.aAU p,
.ExternalClass p,
.aAU span p,
.ExternalClass span p,
span p {
  margin: 0;
  padding: 0;
  margin-bottom: 0;
  margin-top: 0;
}

.mail-mainBody {
  margin: 0;
  padding: 0;
  width: 100% !important;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $background--color;
}

#backgroundTable {
  margin: 0;
  padding: 0;
  width: 100% !important;
  line-height: 100% !important;
}

.mail-table.mail-vertical-spacer td {
  height: 15px;
}

.mail-table {
  margin: 0;
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  border: 0;
}

.mail-table.mail-container {
  margin: 0 auto;
  width: 650px;
}

.mail-table.mail-body .mail-table.mail-container {
  background: $background--white;
}

.mail-table td {
  padding: 0;
  text-align: left;
  vertical-align: top;
  border-collapse: collapse;
}

.mail-image {
  display: block;
  margin: 10px 0 0 0;
  outline: none;
  text-decoration: none;
  -ms-interpolation-mode: bicubic;
  max-width: 100% !important;
}

.mail-link {
  text-decoration: none;
}

.mail-link .mail-image {
  border: 0;
}

.mail-text {
  display: block;
  padding: 0;
  width: 100%;
  min-height: inherit;
  line-height: 120%;
  color: $color--black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

p,
div {
  font-family: Arial, Helvetica, sans-serif;
}

.mail-text strong,
.mail-text br,
.mail-text span {
  line-height: 120%;
}

a {
  color: $color--primary;
}

.mail-text a {
  color: $color--grey;
  text-decoration: underline;
}

.mail-message-text {
  text-align: center;
}

.mail-message-text .mail-text {
  display: inline-block;
}

.mail-message-text .mail-text,
.mail-message-text a {
  color: $colo--grey-light;
  line-height: 14px;
  font-size: 12px;
}

.mail-message-text a {
  text-decoration: underline;
}

.mail-border-primary {
  background: $color--primary;
}

.mail-border-secondary {
  background: $color--white;
}

.mail-label font {
  font-weight: bold;
}

.mail-group .mail-label {
  padding: 15px 10px;
  background-color: $color--white;
}

.mail-title {
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  color: $color--black;
}

.mail-button {
  padding: 12px 18px 12px 18px !important;
  border-radius: 15px;
  border: 2px solid $color--primary;
  text-align: center !important;
}

.mail-button a {
  text-align: center !important;
  font-weight: bold;
  color: $color--primary;
  text-decoration: none;
  display: inline-block;
}

/* HEADER */
.mail-header td {
  text-align: center;
}

.mail-header td .mail-image {
  display: inline-block;
  color: $color--primary;
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;

}

.mail-site-baseline .mail-text {
  font-size: 12px;
  font-weight: bold;
}

/* FOOTER */
.mail-footer {
  background: $color--grey;
}

.mail-footer td {
  text-align: right;
}

.mail-footer .mail-text,
.mail-footer .mail-text a {
  color: $background--white;
}


/* PRE FOOTER */
.mail-pre-footer {
  background-color: $color--primary;
}

.mail-pre-footer td {
  text-align: center;
}

.mail-pre-footer .mail-text {
  font-size: 12px;
  line-height: 20px;
}

.mail-pre-footer .mail-text strong {
  font-size: 13px;
}

.mail-pre-footer .mail-text,
.mail-pre-footer .mail-text a {
  color: $background--white;
  text-decoration: none;
}

/* POST FOOTER menu */
.mail-post-footer {
  background-color: $color--secondary;
}

.mail-post-footer td {
  vertical-align: middle;
}

.mail-post-footer .mail-text {
  font-size: 13px;
  line-height: 24px;
}

.mail-post-footer .mail-text,
.mail-post-footer .mail-text a {
  color: $background--white;
  text-decoration: none;
}

/* FOOTER MENTIONS */
.mail-rgpd {
  text-align: center;
}

.mail-rgpd .mail-text {
  font-size: 13px;
}

.mail-rgpd .mail-text,
.mail-rgpd .mail-text a {
  color: $colo--grey-light;
}

.mail-noreply {
  text-align: right;
}

.mail-noreply .mail-text {
  font-size: 13px;
  color: $colo--grey-light;
}


/* Social
----------------------------------- */
.mail-social {
}

.mail-social table {
  width: auto !important;
}

.mail-social a {

}
