{#
/**
 * @file
 * Default theme implementation to present a content push entity.
 *
 * This template is used when viewing a registered content push's page,
 * e.g., /admin/content/catalog-entity)/123. 123 being the content push's ID.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.title'.
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_content_push()
 */
#}
<div{{ attributes }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
