/* ==========================================================================
   Contenu
   ========================================================================== */
.node-body {

  .text-small {
    font-size: var(--frontend--font-size--tiny);
  }

  /* Medias
    ========================================================================== */
  img {
    display: block;
  }

  blockquote {
  }

}

/* ==========================================================================
  Info
   ========================================================================== */
.node-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px var(--frontend--gutter--inner);
  border-top: 1px solid $color--border;
  border-bottom: 1px solid $color--border;

  .node-date {
    margin-bottom: 0;
  }
}

.node-header {
  margin-top: -var(--frontend--valign--medium);
  margin-bottom: var(--frontend--valign);
}

.node-footer {
  margin-top: var(--frontend--valign--big);
}

