/* ==========================================================================
   Login
   ========================================================================== */
.form--login {
  .form-actions {
    padding-top: var(--frontend--valign--medium);
  }

  .form-item-reset {
    margin-top: var(--frontend--valign--medium);

    a {
      color: $color--text-lighter;

      @include btn-states-user() {
        color: $color--text;
      }
    }
  }

  /* Responsive
     ========================================================================== */
  @include media-breakpoint-min(smartphone) {
    max-width: 300px;
    margin: 0 auto;
  }
}
