/* ==========================================================================
   WEBFORMS
   ========================================================================== */
.form--webform {
  // Ajax upload message rename
  div[id*="ajax-wrapper--"] {
    > .messages--status {
      display: none;
    }
  }

  .webform-options-display-one-column {
    > .js-form-item {
      display: inline-block;
      vertical-align: middle;
      margin-right: 15px;
      margin-bottom: 0;
    }
  }
}
