/* ==========================================================================
   Views Forms exposed
   ========================================================================== */
.views-exposed-form {
  padding: var(--frontend--gutter--inner) 5%;
  background-color: $color--background;
  box-sizing: border-box;

  /*
   ========================================================================== */
  .form-title {
    padding: 0;
    font-size: var(--frontend--font-size--big);
    font-weight: 700;
    cursor: default;

    .counter {
      @include sr-only;
    }
  }

  /*
     ========================================================================== */
  &[data-bef-auto-submit-full-form] {
    .form-actions {
      @include sr-only();
    }
  }

  /*
     ========================================================================== */
  &.l-inline {
    border-radius: var(--frontend--border-radius);

    .views-exposed-form--wrapper {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 20px;

      > .form-item,
      > .form-actions {
        //max-width: 100%;
        max-width: 250px;
        margin: 0;
      }
    }

    .form-submit.btn--primary {
      min-width: 140px;
    }
  }

  /* Tags
     ========================================================================== */
  .form-tags {
    flex: 1 0 100%;
    display: flex;
    gap: 10px
  }

  &:not(.has-filter-tags) .form-tags {
    display: none;
  }
}



