.views {
  /* Header
     ========================================================================== */
  .views-header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: var(--frontend--valign--large);
    margin-bottom: var(--frontend--valign--large);

    p {
      margin-bottom: 0;
    }
  }

  .views-exposed-form {
    &.l-inline {
      @include media-breakpoint-min(1400px) {
        margin-left: calc(var(--frontend--gutter--row) * -2);
        margin-right: calc(var(--frontend--gutter--row) * -2);
      }
      padding-left: var(--frontend--gutter--row);
      padding-right: var(--frontend--gutter--row);
    }
  }

  .views-counter {
    margin-bottom: 0;
  }

  .views-title {
    margin-bottom: var(--frontend--valign--large);
    text-align: center;
  }

  /* Results
     ========================================================================== */
  .views-empty {
    margin: 0 0 var(--frontend--valign--medium) 0;
  }

  .views-rows {
    container-type: inline-size;
    container-name: views-rows;

    display: flex;
    flex-wrap: wrap;
    gap: var(--frontend--gutter);
  }

  .views-row {
    max-width: 100%;
    flex: 1 0 100%;

    > .card {
      height: 100%;
    }
  }

  /* Layout
     ========================================================================== */
  $breakpoints: (
    '600px': 2,
    '900px': 3,
    '1200px': 4
  );
  // Adapté selon la taille du container
  @each $breakpoint, $columns in $breakpoints {
    @container views-rows (min-width: #{$breakpoint}) {
      .views-row {
        max-width: calc(#{(100% / $columns)} - (var(--frontend--gutter) * (#{$columns} - 1) / #{$columns}));
      }
    }
  }
}

