{#
/**
 * @file
 * Default theme implementation for main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A css-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   Javascript.
 *
 * @see template_preprocess_views_view()
 *
 * @ingroup themeable
 */
#}
{% set classes = [
  dom_id ? 'js-view-dom-id-' ~ dom_id,
] %}

<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% if title %}<{{ title_tag }} {{ title_attributes }}>{{ title }}</{{ title_tag }}>{% endif %}
  {{ title_suffix }}

  {% if subtitle %}
    <p class="views-subtitle">{{ subtitle }}</p>
  {% endif %}

<div class="views-before">
  {{ exposed }}
  {{ attachment_before }}

  {% if display_total_rows_count or header %}
  <div class="views-header">
    {{ header }}
    {% if display_total_rows_count %}<{{ display_total_rows_tag }} class="views-counter title--h3">{{ display_total_rows_count }}</{{ display_total_rows_tag }}>{% endif %}
</div>
{% endif %}
</div>

<div class="views-content">
  {% if rows -%}
    {{ rows }}
  {% elseif empty -%}
    <p class="views-empty">{{ empty }}</p>

  {% endif %}

  {{ attachment_after }}
  {{ more }}
</div>

<div class="views-after">
  {% if pager %}
    <div class="views-pager views-pager-bottom">
      {{ pager }}
    </div>
  {% endif %}

  {% if footer or footer_link %}
    <footer class="views-footer">
      {{ footer }}

      {% if footer_link and footer_link.uri is not empty %}
        {{ link(footer_link.cta, footer_link.uri, footer_link.attributes) }}
      {% endif %}
    </footer>
  {% endif %}
</div>

{{ feed_icons }}
</div>
