{#
/**
 * @file
 * Seven's theme implementation to display a single Drupal page while offline.
 *
 * All available variables are mirrored in page.html.twig.
 * Some may be blank but they are provided for consistency.
 *
 * @see template_preprocess_maintenance_page()
 */
#}
<div class="layout-maintenance-page">
    <div class="layout-container">

        <header role="banner">
            {% if logo %}
                <a href="{{ front_page }}" title="{{ 'Home'|t }}" rel="home">
                    <img src="{{ logo }}" alt="{{ 'Home'|t }}"/>
                </a>
            {% endif %}
        </header>

        {% if page.sidebar_first %}
            <aside class="layout-sidebar-first" role="complementary">
            {{ page.sidebar_first }}
            </aside>{# /.layout-sidebar-first #}
        {% endif %}

        <main role="main">
            {% if title %}
                <h1>{{ title }}</h1>
            {% endif %}
            {{ page.highlighted }}
            {{ page.content }}
        </main>

        {% if page.page_bottom %}
            <footer role="contentinfo">
                {{ page.page_bottom }}
            </footer>
        {% endif %}

    </div>{# /.layout-container #}
</div>
