{#
/**
 * @file
 * Theme override to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.content_sidebar: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see page.html.twig
#}
<div id="page" class="page">
  <header class="page-header" id="page-header">
    <div class="page-header-top">
      <div class="row row--big">
        {{ page.header_top }}
      </div>
    </div>
    <div class="page-header-bottom">
      <div class="row row--big">
        {{ page.header }}
        {{ page.navigation }}

        <button class="togglemenu-toggle is-responsive" id="togglemenu-toggle">
          <span class="burger">
              <span class="icon-item item--1"></span>
              <span class="icon-item item--2"></span>
              <span class="icon-item item--3"></span>
          </span>
          <span class="label">Menu</span>
        </button>
      </div>
    </div>
  </header>

  <main class="page-main">
    {% block content %}
      {% if page.content_before %}
        <div {{ content_before_attributes }}> {# content-before #}
          <span class="page-offset" id="page-offset"></span>
          {% if content_banner %}
            <div {{ content_banner_attributes }}> {# content-banner #}
              {{ content_banner }}
            </div>
          {% endif %}
          {{ page.content_before }}
        </div>
      {% endif %}

      <div {{ content_attributes }}>
        <a id="main-content" tabindex="-1"></a>

        {{ page.drupal_info }}

        {% if (page.content_views) %}
          <div class="content-views">
            {{ page.content_views }}
          </div>
        {% endif %}

        {% if page.content_sidebar %}
        <div class="l-sidebar">
          {% endif %}
          <div {{ content_body_attributes }}>
            {{ page.content }}
          </div>
          {% if page.content_sidebar %}
            <aside class="content-sidebar sidebar">
              {{ page.content_sidebar }}
            </aside>
          {% endif %}
          {% if page.content_sidebar %}
        </div>
        {% endif %}
      </div>

      {% if page.content_after %}
        <div class="content-after">
          {{ page.content_after }}
        </div>
      {% endif %}
    {% endblock %}
  </main>

  {% if page.pre_footer or page.footer or page.footer_bottom %}
    <footer class="page-footer">
      {% if page.pre_footer %}
        <div class="page-footer-top">
          {{ page.pre_footer }}
        </div>
      {% endif %}

      {% if page.footer %}
        <div class="page-footer-middle theme-white">
          <div class="row">
            {{ page.footer }}
          </div>
        </div>
      {% endif %}

      {% if page.footer_bottom %}
        <div class="page-footer-bottom theme-white">
          <div class="row">
            {{ page.footer_bottom }}
          </div>
        </div>
      {% endif %}
    </footer>
  {% endif %}


  {{ page.toolbox }}

</div>
