/* ==========================================================================
   ADMIN BLOCK FROM DRUPBLOCKADMIN
   ex : /admin/structure/block/manage/factories_list?destination=/pommier&gm-blocks-context=node/6
   ========================================================================== */
body.is-drup-block-admin {
  .block-form {
    tr {
      .form-item {
        margin-bottom: 30px;
      }
      .media-library-form-element {
        padding: 0 30px 30px;
      }
      &.draggable a.tabledrag-handle {
        width: 60px;
      }
      .tabledrag-cell {
        width: 100%;
      }
      .tabledrag-cell-content {
        width: 96%;
      }
      .claro-details__wrapper {
        margin: 20px 40px 40px;
      }
      .tabledrag-cell-content__item {
      }
    }

    #edit-settings-header-title-format {
      display: none;
    }

    .filter-help {
      display: none;
    }
  }
}

/* ==========================================================================
   GM Settings Form
   ========================================================================== */
.drup-settings-admin-form {
  .container-inline {
    label {
      width: 300px;
    }
    .form-item__description,
    .fieldset__description {
      margin-left: 20px;
    }
  }
}

/* ==========================================================================
   Form
   ========================================================================== */
.form-type--textarea + .filter-wrapper {
  //display: none;
}

.filter-help,
.filter-guidelines {
  display: none;
}

.horizontal-tabs-panes .horizontal-tabs-pane {
  box-sizing: border-box;
}

.horizontal-tabs ul.horizontal-tabs-list {
  margin-bottom: 0;
}

/* ==========================================================================
   Paragraph
   ========================================================================== */
html.js .paragraph-type-icon {
  height: 30px;
  width: 30px;
  padding: 0;
  //transform: scale(1.8);
}

.paragraphs-add-suffix {
  display: none;
}

.paragraph-top.add-above-off {
  + .paragraphs-subform {
    border-top: 1px solid var(--gin-border-color-table);
    margin-top: var(--space-m);
    padding-top: var(--space-m);
  }
}

.paragraphs-subform {
  .horizontal-tabs ul.horizontal-tabs-list {
    margin-bottom: 0;
  }

  .field-multiple-table {
    > thead {
      display: none;
    }
  }

  .field--widget-entity-reference-autocomplete {
    .paragraphs-subform .form-item,
    .paragraphs-subform .field--type-text-with-summary .form-item,
    .paragraphs-subform .field--widget-text-textarea .form-item {
      margin-bottom: 0;
    }
  }
}
