{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}
{% import _self as menus %}

{#
We call a macro which calls itself to render the full tree.
@see http://twig.sensiolabs.org/doc/tags/macro.html
#}
{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}
  {% if items %}
    {% if menu_level == 0 %}
{# <ul{{ attributes.addClass('level0') }}> #}
<ul>
  {% else %}
  <ul class="level{{ menu_level }}">
    {% endif %}
    {% for item in items %}
      {% set item_classes = [
        item.in_active_trail ? 'active',
      ] %}
      <li{{ item.attributes.addClass(item_classes).addClass('level' ~ menu_level ~ '--item', (item.below ? 'parent')) }}>
        {% if menu_level == 0 %}
          {{ link(item.title, item.url, {'class' : ['level' ~ menu_level ~ '--link'], 'data-text' : item.title}) }}
        {% else %}
          {{ link(item.title, item.url, {'class' : ['level' ~ menu_level ~ '--link']}) }}
        {% endif %}

        {% if item.below %}
          {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
        {% endif %}
      </li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endmacro %}
