/* ==========================================================================
   Toolbar logo
   ========================================================================== */
.toolbar-menu .menu-item__admin_toolbar_tools-help {
  flex: 1;
  max-width: 140px;
}
#toolbar-item-administration-tray .toolbar-logo {
  align-items: center;
  justify-content: center;
}
#toolbar-item-administration-tray .toolbar-logo img {
  position: relative;
  top: 1px;
}

/* ==========================================================================
   Admin Toolbar
   ========================================================================== */
.toolbar .toolbar-bar .menu-item__drup-admin_parent .toolbar-icon:before {
  -webkit-mask-image: url(/themes/contrib/gin/dist/media/sprite.svg#devel-view);
  mask-image: url(/themes/contrib/gin/dist/media/sprite.svg#devel-view);
}
.toolbar .toolbar-bar .toolbar-icon.toolbar-icon-admin-toolbar-tools-extra-linksmedia-page:before {
  -webkit-mask-image: url(/themes/contrib/gin/dist/media/sprite.svg#php-view);
  mask-image: url(/themes/contrib/gin/dist/media/sprite.svg#php-view);
}
