// Styleguide Blocks

.block {
}

.block-inner {

}

.block-header {
  margin-bottom: var(--frontend--valign--large);
  text-align: center;

  .block-title,
  .block-subtitle {
    margin-bottom: 5px;
  }
}

.block-title {
  margin-bottom: var(--frontend--valign--medium);

  span {
    display: block;
  }
}

.block-subtitle {

}

.block-content {
  margin-bottom: var(--frontend--valign);
}

.block-image {

}

.block-footer {
  margin-top: var(--frontend--valign);
  margin-bottom: var(--frontend--valign--medium);
}

.block-admin-btn {
  margin-bottom: var(--frontend--valign--medium);
  padding: var(--frontend--valign--medium) 0;
  border-top: 1px solid rgba(#000, .15);
  text-align: center;
  background-color: rgba(#000, .03);
}

