{#
/**
 * Partials d'accordéons
 *
 * Variables :
 *   - items [*]
 *   ------ title
 *   ------ body
 *
 */
#}
{% if items %}
  <ul {{ attributes.addClass('accordion') }}>
    {% for item in items %}
      <li class="accordion-item">
        <button class="item-title" type="button">
          <span>{{ item.title }}</span>
        </button>
        <div class="item-content item-body ck-content l-small">
          {{ item.body }}
        </div>
      </li>
    {% endfor %}
  </ul>
{% endif %}
