{% if admin_url %}
  {% if btnTitle is empty %}
    {% set btnTitle = 'Edit content below'|t %}
  {% endif %}

  <div class="block-admin-btn">
    <a href="javascript:;" class="btn btn--block-admin" data-fancybox data-type="iframe" data-src="{{ admin_url }}">{{ btnTitle }}</a>
  </div>
{% endif %}
