{#
/**
 * Partial d'un item de liste
 *
 * Variables :
 *   - row.content
 *   - row.attribute
 *
 * @see theme/view.inc
 */
#}
<li {{ row.attributes }}>
  {% set content %}
    <article class="item-wrapper">
      {% if row.content.media %}
        <div class="item-media l-{{ row.content.mediaType }}">
          {{ row.content.media }}
        </div>
      {% endif %}

      <div class="item-content">
        {% set titleTag = (row.content.tagTitle) ? row.content.tagTitle : 'h3' %}
        {{ ('<' ~ titleTag ~ ' class="item-title"' ~ '>')|raw }}{{ row.content.title|nl2br }}{{ ('</' ~ titleTag ~ '>')|raw }}

        {% if row.content.body %}
          <div class="item-body">
            {{ row.content.body|raw }}
          </div>
        {% endif %}
      </div>

      <footer class="item-footer">
        {% if row.content.link_cta %}
          <span class="item-cta btn btn--link">
                        <span>{{ row.content.link_cta }}</span>
                    </span>
        {% endif %}
      </footer>
    </article>
  {% endset %}

  {{ link(content, row.content.link_url, row.content.link_attributes.setAttribute('no_span', true)) }}
</li>
