{#
/**
 * @file
 * Default implementation of swiper slider structure
 *
 * example :
 {% embed directory ~ "/templates/partials/slider.html.twig" with {arrows: true, slider_id: 'primary'} %}
  {% block slides %}
    {% for image in images %}
      <div class="slider-item swiper-slide">
        <a href="{{ image.modal_url }}" data-fancybox="{{ paragraph.id() }}" role="button">
          {{ image.thumbnail }}
        </a>
      </div>
    {% endfor %}
  {% endblock %}
{% endembed %}
 */
#}

{% if not slider_attributes %}
  {% set slider_attributes = create_attribute() %}
{% endif %}

{% set classes = [
  'slider',
  slider_id ? 'slider--' ~ slider_id : 'slider--default',
  'swiper'
] %}

<div {{ slider_attributes.addClass(classes).setAttribute('data-slider-id', 'slider-' ~ random()) }}>
  {% if arrows == true %}

  {% endif %}
  <div class="swiper-navigation">
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>

  <div class="swiper-wrapper">
    {% block content %}
    {% endblock %}
  </div>

  <div class="swiper-pagination"></div>
  {% if pagination == true %}
  {% endif %}
</div>
