{% extends "paragraph.html.twig" %}

{% block content %}
  {% if images %}
    {% embed directory ~ "/templates/partials/slider.html.twig" with {
      arrows: true,
      slider_id: 'gallery'
    } %}
      {% block content %}
          {% for image in images %}
            <div class="slider-item swiper-slide media media--image">
              <a href="{{ image.modal_url }}" data-fancybox="{{ paragraph.id() }}" role="button" class="">
                {{ image.thumbnail }}
              </a>
            </div>
          {% endfor %}
      {% endblock %}
    {% endembed %}
  {% endif %}
{% endblock %}
