{% extends "paragraph.html.twig" %}

{% block content %}
  <div class="item-testimony ck-content">
    <blockquote>
      {{ content.field_body[0] }}

      {% if content.field_testimony_author[0] %}
        <footer>
          {% if content.field_testimony_author[0] %}
            {{ content.field_testimony_author[0] }}
          {% endif %}
        </footer>
      {% endif %}
    </blockquote>
  </div>
{% endblock %}
