<div class="content-page-404">
  <h2 class="title--h4">{{ "You may have followed a broken link, or tried to view a page that no longer exists."|t }}</h2>
  {% if data.contact_url %}
    <p>{{ 'If the problem persists, <a href=":link">contact us</a>.'|t({':link': data.contact_url}) }}</p>
  {% endif %}
  <p>{{ link('Back to the front page'|t, 'internal:/<front>', {'class': ['btn']}) }}</p>
</div>
