// Styleguide Paragraphs

.paragraph {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: var(--frontend--valign--big);

  &:last-of-type {
    margin-bottom: 0;
  }

  /* Less space top
   ========================================================================== */
  &.l-margin-top-small {
    margin-top: calc(var(--frontend--valign--big) * -1 / 2);
    margin-bottom: var(--frontend--valign--big);
  }

  /*
     ========================================================================== */
  &[class*="theme-background-"] {
    padding-top: var(--frontend--valign--big);
    padding-bottom: var(--frontend--valign--big);
  }

  /* 2 columns 50%
     ========================================================================== */
  &.l-splitted {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    gap: var(--frontend--valign--large);

    .item-body {
      box-sizing: border-box;
    }

    @include media-breakpoint-min(tablet) {
      flex-direction: row;
      justify-content: space-between;
      gap: 4%;

      > .item-column {
        flex: 1;
      }

      .item-media,
      .item-push {
        flex-shrink: 0;
      }

      // Image à gauche / Texte à droite
      &.l-text-right {
        .item-media {
          order: -1;
        }

        .item-body {
        }
      }
      // Image à droite / Texte à gauche
      &.l-text-left {
        .item-body {
          order: -1;
        }
      }
    }
  }
}

/* TEXT
   ========================================================================== */
.paragraph--type--text {
  margin-bottom: var(--frontend--valign);
}


/* PUSH
   ========================================================================== */
.paragraph--type--push {
  &:not(.item-column) {
    .push {
      border-radius: 0;
    }
  }

  .push {
    > .item-content {
      padding-top: var(--frontend--valign--huge);
      padding-bottom: var(--frontend--valign--big);
    }
  }
}

/* ACCORDIONS
   ========================================================================== */
.paragraph--type--accordion {
  .paragraph--type--text + & {
    margin-top: calc(var(--frontend--valign--big) * -1 / 4);
  }
}


/* PARAGRAPH COLUMNS
   ========================================================================== */
.paragraph--type--layout-row {
  .paragraph {
    margin: 0;
  }

  &.children-text-text {
    align-items: flex-start;
  }
}

