// Styleguide Accordéons

.accordion {
  list-style: none;

  .accordion-item {
    border-bottom: 1px solid $color--border;
    transition: .2s;

    &:last-of-type {
    }

    //border-bottom: 1px solid $color--border;
  }
}

.accordion-item {
  .item-title {
    position: relative;
    width: 100%;
    margin: 0;
    padding: var(--frontend--valign--medium) 50px var(--frontend--valign--medium) 0;
    border: 0;
    color: $color--primary-darker;
    text-align: left;
    @include font(primary, 500);
    font-size: var(--frontend--font-size--huge);
    background-color: transparent;
    cursor: pointer;
    transition: .2s;

    &:after {
      @include font-icon(drop-bottom);
      position: absolute;
      top: 50%;
      right: var(--frontend--gutter--inner);
      transform: rotateY(0) translateY(-50%);
      transform-origin: 50% 0;
      color: $color--text-darker;
      transition: .2s;
    }
  }

  .item-content {
    overflow: hidden;
    padding: 0 0 var(--frontend--valign--medium);
  }

  /* States
     ========================================================================== */
  //&.is-opened .item-title,
  //.item-title:hover {
  //background-color: $color--background;
  //}
  &:hover {
    border-color: $color--primary-darker;
  }

  &.is-opened {
    border-color: $color--primary-darker;
    //background-color: $color--background;

    .item-title {
      &:after {
        transform: rotateX(180deg) translateY(-50%);
      }
    }
  }
}
