// Styleguide Buttons

/*
:hover    - Bouton au survol
:disabled - Bouton désactivé
.btn--primary - Principal

Markup: <button class="btn $modifierClass">Bouton</button>

Styleguide Buttons - 1.btn
 */
button {
  padding: 5px 14px;
  border: $btn--border-width solid $btn--border-color;
  background-color: $btn--background;
  cursor: pointer;
  transition: .2s;
}

@mixin btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: $btn--padding-vertical $btn--padding-horizontal;
  @include font(primary, 500);
  font-size: $btn--fontsize;
  line-height: $btn--lineheight;
  text-decoration: none;
  border: $btn--border-width solid;
  border-radius: $btn--border-radius;
  cursor: pointer;
  box-sizing: border-box;
  transition: .3s;

  span {
    box-sizing: border-box;
  }

  &.is-disabled,
  &:disabled {
    pointer-events: none;
    cursor: default;
    opacity: .75;
  }

  /* With icon
     ========================================================================== */
  &.icon {
    &:before {
      font-size: 1.5em;
    }
  }

  /* Sizes
     ========================================================================== */
  &.l-big {
    font-size: var(--frontend--font-size--big);
    padding: floor($btn--padding-vertical * 1.2) floor($btn--padding-horizontal * 1.4);
  }
}

.btn {
  @include btn();

  @include btn-states-default() {
    color: $color--text;
    background-color: #fff;
    border-color: $color--border;
  }
  @include btn-states-user() {
  }
}


/*
Btn primary

Markup: url()->find(.btn--primary)

Styleguide Buttons - 10.btn--primary
*/

.btn--primary {
  &:not(.stroke) {
  }

  &.stroke {
    --frontend--btn-primary--text-color: #{$color--primary};
    --frontend--btn-primary--border-color: #{$color--primary};
    --frontend--btn-primary--background-color: transparent;
    --frontend--btn-primary--text-hover-color: #fff;
    --frontend--btn-primary--border-hover-color: #{$color--primary};
    --frontend--btn-primary--background-hover-color: #{$color--primary};
  }

  @include btn-states-default() {
    color: var(--frontend--btn-primary--text-color);
    border-color: var(--frontend--btn-primary--border-color);
    background-color: var(--frontend--btn-primary--background-color);
  }
  @include btn-states-user() {
    color: var(--frontend--btn-primary--text-hover-color);
    border-color: var(--frontend--btn-primary--border-hover-color);
    background-color: var(--frontend--btn-primary--background-hover-color);
  }
}


/*
Bouton secondaire :

Markup: url()->find(.btn--secondary)

Styleguide Buttons - 15.btn--secondary
*/
.btn--secondary {
  padding-left: 0;
  padding-right: 0;
  border: 0;

  &:before {
    content: "";
    font-family: inherit;
    display: block;
    width: 16px;
    height: 3px;
    border-radius: 3px;
  }

  span {
    padding-top: $btn--border-width;
    padding-bottom: $btn--border-width;
  }

  @include btn-states-default() {
    background-color: transparent;
    color: var(--frontend--btn--color-main);

    &:before {
      background-color: var(--frontend--btn--color-main);
    }
  }
  @include btn-states-user() {

  }
}


/*
Bouton tertiaire :

Markup: url()->find(.btn--tertiary)

Styleguide Buttons - 20.btn--tertiary
*/
.btn--tertiary {
  @include btn-states-default() {
  }
  @include btn-states-user() {
  }
}


/*
Bouton lien / en lire plus

Markup: url()->find(.btn--link)

Styleguide Buttons - 30.btn--link
*/
.btn--link {
  padding-left: 0;
  padding-right: 0;
  border: 0;

  span {
    padding-top: $btn--border-width;
    padding-bottom: $btn--border-width;
    text-decoration: underline;
  }

  @include btn-states-default() {
    background-color: transparent;
    color: var(--frontend--btn--color-main);
  }
  @include btn-states-user() {
    span {
      text-decoration: none;
    }
  }
}


/*
Bouton icon only + text en sr only

Markup: url()->find(.btn--link)

Styleguide Buttons - 30.btn--link
*/
.btn--icon {
  padding: 10px;
  border: 0;
  line-height: 1;
  border-radius: 50%;
  background-color: transparent;

  span {
    @include sr-only;
  }

  &.icon:before {
    font-size: 2.125em;
  }

  @include btn-states-default() {
  }
  @include btn-states-user() {
  }
}

