// Styleguide Lists

a.card {
  color: inherit;
}

.card {
  position: relative;

  & > a {
    display: block;
    width: 100%;
    height: 100%;
    font-family: inherit;
    user-select: none;
    box-sizing: border-box;

    &:hover,
    &:focus {
      color: inherit;

      .card-cta {

      }
    }
  }

  .card-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    box-sizing: border-box;
    transition: .2s;
  }

  .card-media {
    position: relative;
    overflow: hidden;
    transform: translateZ(0);

    img {
      display: block;
      transform: scale(1);
      transition: .2s;
    }
  }

  .card-content {
    position: relative;
    padding: var(--frontend--gutter--inner) 0 0;
    box-sizing: border-box;
  }

  .card-header {
  }

  .card-title {
    margin-bottom: 10px;
    color: inherit;
    font-size: 22px;
    line-height: 1.25;
    @include font(primary, 700);
  }

  .card-body {
    font-size: var(--frontend--font-size--small);
    box-sizing: border-box;

    p {
      margin-bottom: 0;
    }
  }

  .card-info {
    margin-bottom: 5px;
    color: $color--text-lighter;
    font-size: var(--frontend--font-size--small);
  }

  .card-item-info {
    margin-bottom: 5px;
    font-size: var(--frontend--font-size--small);
  }

  .card-tags {
    .card-tag {
      margin: 2px 4px 2px 0;
    }
  }

  .card-date {
    color: $color--text-lighter;
  }

  .card-footer {
    margin-top: var(--frontend--gutter--inner);
    padding-top: var(--frontend--gutter--inner);
    border-top: 1px solid $color--border;
  }

  .card-cta {
    margin: 0;
  }
}

