form {
  position: relative;
  @include font(primary);

  &:focus {
    outline: 0;
  }
}

/* ==========================================================================
   HTML DEFAULT
   ========================================================================== */
label,
legend > span {
  display: block;
  margin: 0 0 .75em;
  @include font(primary, 700);
}

.form-wrapper:not(.form-composite) > legend > span {
  display: block;
  margin: 0 0 var(--frontend--valign--medium);
  @include font(primary, 500);
  font-size: var(--frontend--title-h3--font-size);
  line-height: var(--frontend--title--line-height);
}

label.js-form-required:after,
legend .js-form-required:after {
  content: " *";
}

input,
select,
textarea {
  &[disabled],
  &[readonly],
  &:disabled {
    opacity: .5;
    cursor: default;
  }

  &:not([readonly]):focus {
    outline: 0;
    border-color: $input--color-focus;
  }
}

fieldset {
  border: none;
  padding: 0;
}

/* ==========================================================================
   DRUPAL DEFAULTS
   ========================================================================== */
.form-text,
.form-number,
.form-email,
.form-tel,
.form-select,
.form-search,
.form-textarea {
  display: block;
  width: 100%;
  appearance: none;
  padding: $input--padding-vertical $input--padding-horizontal;
  color: $input--color;
  font-family: inherit;
  font-size: $input--fontsize;
  line-height: $input--lineheight;
  background-color: $input--background;
  border: $input--border-width solid $input--border-color;
  border-radius: $input--border-radius;
  box-sizing: border-box;
  transition: border-color .3s;

  // Placeholders
  @include input-placeholder() {
    color: $color--text-lighter;
    opacity: 1;
  }

  &[disabled] {
  }

  &.error {
    border-color: $notice--error-color;
  }
}

/* Containers
   ========================================================================== */
.form-group,
.form-item,
.fieldset-wrapper {
  position: relative;
  margin-bottom: var(--frontend--valign--medium);
}

.form-wrapper {
  margin-bottom: 0;
}

.form-control {
  position: relative;
}

/* Submits
   ========================================================================== */
.form-actions {
  margin-top: var(--frontend--valign--medium);
}

.form-submit {
}


/* ==========================================================================
   Text / textarea
   ========================================================================== */
.form-textarea {
  height: auto; // use #rows
  resize: vertical;
}

.js input.form-autocomplete {
  background: none;
}

/* ==========================================================================
   Search
   ========================================================================== */
.form-search {
  background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%20fill%3D%22none%22%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M8.07567%202.47852C9.62103%204.02437%209.62103%206.53008%208.07567%208.07542C6.52979%209.62137%204.02405%209.62137%202.47869%208.07542C0.933337%206.5302%200.933337%204.02447%202.47869%202.47852C4.02394%200.933181%206.5297%200.933181%208.07567%202.47852ZM9.44544%208.51369C11.0573%206.44324%2010.9115%203.44858%209.0082%201.54586C6.94766-0.515286%203.60657-0.515286%201.5454%201.54586C-0.515134%203.60637-0.515134%206.94741%201.5454%209.00855C3.44896%2010.9115%206.44418%2011.057%208.51419%209.44509C8.52311%209.45519%208.53239%209.46509%208.54204%209.47476L10.8739%2011.8066C11.1318%2012.0645%2011.5492%2012.0645%2011.8071%2011.8066C12.0643%2011.5494%2012.0643%2011.1313%2011.8071%2010.8741L9.47519%208.54161C9.46549%208.53194%209.45557%208.52263%209.44544%208.51369Z%22%20fill%3D%22%232D2D2D%22%2F%3E%3C%2Fsvg%3E");
  background-position: right $input--padding-horizontal center;
  background-repeat: no-repeat;
  background-size: $input--fontsize $input--fontsize;
  padding-right: ($input--padding-horizontal + 15px + $input--padding-horizontal);

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

/* ==========================================================================
   Select
   ========================================================================== */
.form-select {
  padding-right: ($input--padding-horizontal + 15px + $input--padding-horizontal);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right $input--padding-horizontal center;
  background-size: $input--fontsize $input--fontsize;

  &[multiple] {
    background-image: none;
  }
}

/* ==========================================================================
   Radio / Checkbox
   ========================================================================== */
.js-form-type-checkbox,
.js-form-type-radio {
  margin-bottom: var(--frontend--valign--tiny);

  .form-control {
    display: flex;
    align-items: center;
  }


  .title,
  .description,
  .option {
    display: block;
    line-height: normal;
    font-weight: 300;

    a {
      color: $color--primary;
      text-decoration: underline;

      &:hover,
      &:focus {
      }
    }
  }

  .option {
    cursor: pointer;
    margin: 0;
  }

  .form-checkbox,
  .form-radio {
    appearance: none;
    width: 26px;
    height: 26px;
    flex-shrink: 0;
    margin-right: .75em;
    border: 1px solid $input--border-color;
    background: $input--background no-repeat center center;
    cursor: pointer;
    transition: .2s;

    &:focus {
      border-color: $input--color-focus;
    }

    &:checked {
      border-color: $input--color-focus;
    }
  }
}

.js-form-type-checkbox {
  .form-checkbox {
    border-radius: 7px;
    background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2217%22%20height%3D%2217%22%20viewBox%3D%220%200%2017%2017%22%20fill%3D%22none%22%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%3E%3Cpath%20d%3D%22M14.3537%203.7404C14.1156%203.74684%2013.8893%203.84546%2013.7226%204.01544C13.6849%204.0531%2013.1427%204.57745%2012.4318%205.25313C11.7209%205.92882%2010.8024%206.80024%209.88451%207.67121C8.96658%208.54218%208.04912%209.41267%207.33724%2010.0893C6.95841%2010.4493%206.86012%2010.5416%206.63159%2010.7597L3.22374%207.82019C3.13222%207.741%203.02598%207.68062%202.91108%207.64248C2.79618%207.60434%202.67488%207.58918%202.55412%207.59789C2.43335%207.6066%202.31549%207.63901%202.20728%207.69325C2.09906%207.74749%202.00261%207.82251%201.92344%207.91401C1.84427%208.0055%201.78394%208.11169%201.74589%208.22649C1.70784%208.3413%201.69282%208.46247%201.7017%208.58308C1.71057%208.70368%201.74315%208.82136%201.79759%208.92938C1.85203%209.03739%201.92726%209.13363%202.01897%209.21259L6.05788%2012.6965C6.2335%2012.8482%206.46017%2012.9279%206.69225%2012.9194C6.92432%2012.9109%207.14455%2012.8148%207.30855%2012.6506C7.34626%2012.613%207.88848%2012.0886%208.5994%2011.4129C9.31033%2010.7372%2010.2287%209.87155%2011.1467%209.00059C12.0646%208.12962%2012.9821%207.25337%2013.6939%206.57677C14.4058%205.90017%2014.8733%205.46187%2015.0192%205.31616C15.1524%205.18758%2015.2435%205.02177%2015.2806%204.8405C15.3177%204.65924%2015.299%204.471%2015.227%204.30054C15.1551%204.13007%2015.0331%203.98533%2014.8772%203.88536C14.7214%203.7854%2014.5389%203.73486%2014.3537%203.7404Z%22%20fill%3D%22%23114A69%22%2F%3E%3C%2Fsvg%3E");
    background-size: 0;

    &:checked {
      background-size: 70% 70%;
    }
  }
}

.js-form-type-radio {
  .form-radio {
    border-radius: 50%;

    &:before {
      content: "";
      display: block;
      width: 40%;
      height: 40%;
      margin: 50% 0 0 50%;
      background-color: $input--color-focus;
      border-radius: 50%;
      transform: translate(-50%, -50%) scale(0);
    }

    &:checked {
      &:before {
        transform: translate(-50%, -50%) scale(1);
      }
    }
  }
}

/* ==========================================================================
   File
   ========================================================================== */
.js-form-type-managed-file {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  label:not(.btn) {
    width: 100%;
    margin-right: 15px;
  }

  .description {
    line-height: 1;
    color: $color--text-lighter;
  }

  .js-form-managed-file {
    margin-right: 15px;

    a {
      text-decoration: underline;
    }
  }
}


/* ==========================================================================
   OTHER
   ========================================================================== */
.captcha {
  margin: var(--frontend--valign--medium) 0;
}

.g-recaptcha {
  & > div {
    margin-left: auto;
  }
}

.form-item--error-message {
  padding-top: 4px;
  color: $notice--error-color;
  font-style: italic;
  font-size: var(--frontend--font-size--small);
}

.form-rgpd-text {
  font-size: var(--frontend--font-size--small);

  a {
    text-decoration: underline;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}

.form-mention-required {
  margin-top: var(--frontend--valign);
  font-size: var(--frontend--font-size--small);
}
