.logo {
  a,
  img {
    display: block;
  }

  img {
    max-width: none;
    transition: .2s;
  }
}


/* ==========================================================================
   LOGO PRINCIPAL ()
   ========================================================================== */
.logo--primary {
  position: relative;

  img {
  }
}


/* ==========================================================================
   LOGO SECONDAIRE ()
   ========================================================================== */
.logo--secondary {
}
