.media {
  img {
    display: block;
  }

  figcaption {
    --frontend--valign--content: 8px;

    display: block;
    margin-top: var(--frontend--valign--small);
    text-align: left;
    font-style: italic;
    font-size: var(--frontend--font-size--small);
  }
}

/* Image
   ========================================================================== */
.media--image {
  text-align: center;

  img {
    border-radius: var(--frontend--border-radius);
  }

  &.l-content-full,
  &.l-background-full {
    img {
      border-radius: 0;
    }
  }
}

/* Vidéo
   ========================================================================== */
.media--video-external {
  a {
    display: block;

    &:hover,
    &:focus {
      .btn {
        transform: translate(-50%, -50%) scale(1.1);
      }
    }
  }

  .image-wrapper {
    display: block;
    position: relative;

  }
  img {
    filter: brightness(0.85);
    border-radius: var(--frontend--border-radius);
  }

  .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 40px;
  }

  &.l-content-full {
    img {
      border-radius: 0;
    }
  }
}
