// Styleguide Navigation

.nav {
  .nav-menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
  }

  ul,
  ol {
    margin-bottom: 0;
  }

  li {
    list-style: none;
  }

  .nav-link {
    position: relative;
    display: inline-flex;
    align-items: center;
    box-sizing: border-box;
  }

  .active {
    color: inherit;
  }
}


/*
Navigation principale

Markup: url()->find(.nav--main)

Styleguide Navigation - 10.nav--main
*/
.nav--main {
  .nav-link {
    position: relative;
    display: flex;
    align-items: center;
    padding: 18px 20px;
    line-height: 1.25;
    color: var(--frontend--header--color);
    box-sizing: border-box;
  }


  /* Niveau 1
  ========================================================================== */
  .level-1 {
    &.nav-link {
      height: var(--frontend--header--height);
      text-align: center;
      @include font(primary, 500);

      // hover/active
      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 0;
        height: 4px;
        transform: translateX(-50%);
        border-radius: 4px;
        background-color: var(--frontend--header--color);
        transition: .2s;
      }

      &.is-active {
        &:after {
          width: 16px;
        }
      }
    }
  }

  /* STATES
     ========================================================================== */
  .nav-item.is-active {
    > .nav-wrapper {
      z-index: $zindex--big;
      visibility: visible;
      opacity: 1;
    }
  }

  .nav-link.level-1:hover,
  .nav-link.level-1:focus,
  .nav-item.level-1.is-active > .nav-link {
    &:after {
      width: 40px;
    }
  }
}


/*
Navigation footer

Markup: url()->find(.nav--footer)

Styleguide Navigation - 20.nav--footer
*/
.nav--footer {
  .nav-menu {
    justify-content: center;
    gap: var(--frontend--gutter);
  }

  .nav-link {
    font-size: var(--frontend--font-size--small);

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  @include media-breakpoint-max(tablet) {
    .nav-menu {
      flex-direction: column;
    }
  }
}


/*
Fil d'ariane

Markup: url()->find(.nav--breadcrumb)

Styleguide Navigation - 30.nav--breadcrumb
*/
.nav--breadcrumb {
  position: relative;
  z-index: 1;
  margin-bottom: var(--frontend--valign--medium);
  font-size: var(--frontend--font-size--small);

  .nav-link {
    display: inline-block;
    color: var(--frontend--theme--text-color);
    @include custom-hover-link(var(--frontend--theme--text-color), $b: -1px);
  }

  .item-separator {
    margin: 0 .35em;

    &:before {
      font-size: .75em;
    }
  }

  li:last-of-type {
    @include font(primary, 500);
  }

  @include media-breakpoint-max(smartphone) {
    li:last-of-type {
      display: none;
    }
    li:nth-last-child(2) {
      .item-separator {
        display: none;
      }
    }
  }
}


/*
Pagination classique

Markup: url()->find(.nav--pager)

Styleguide Navigation - 40.nav--pager
*/
.nav--pager {
  margin: var(--frontend--valign) auto 0;
  text-align: center;

  a {
    display: inline-block;
  }

  .nav-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* Load more
     ========================================================================== */
  &.load-more {
    a {
      display: inline-flex;
    }
  }

  /* System
    ========================================================================== */
  &.system {
    font-size: var(--frontend--font-size--big);
    color: $color--primary-darker;

    .pager__item--next,
    .pager__item--previous {
      display: none;
    }

    a,
    .pager__item--ellipsis {
      padding: 2px 10px;
      border-radius: 5px;
      //border: 1px solid transparent;

      span:before {
        vertical-align: middle;
        font-size: .8em;
      }
    }

    a {
      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }

    .is-active {
      a {
        background-color: $color--background;
        font-weight: 700;
      }
    }
  }

}


/*
Social items

Markup: url()->find(.nav--social)

Styleguide Navigation - 50.nav--social
*/
.nav--social {
  .nav-item {
    padding: 0 6px;
  }

  .nav-link {
    &:before {
      opacity: 1;
      transform: scale(1);
      transform-origin: 50% 100%;
      transition: .2s;
    }

    &:hover,
    &:focus {
      &:before {
        opacity: .8;
        transform: scale(1.1);
      }
    }
  }
}


/*
Social share items

Markup: url()->find(.nav--social-share)

Styleguide Navigation - 55.nav--social-share
*/
.nav--social-share {
  font-size: var(--frontend--font-size--big);
}
