// Styleguide Notices

/*
Markup: <div class="messages $modifierClass">Ce texte est mon message mis en forme selon le niveau de notice.</div>

.messages--status  - Message de succès
.messages--warning - Message de mise en garde
.messages--error   - Message d'erreur

Styleguide Notices - 1.messages
*/
.messages {
  position: relative;
  z-index: 1;
  width: 100%;
  margin: 0 auto 15px;
  max-width: 1280px;
  padding: 30px 5%;
  color: $notice--color;
  font-size: $notice--fontsize;
  border-top: 4px solid $color--primary;
  text-align: center;
  background: $notice--background;
  border-radius: 0 0 5px 5px;
  box-sizing: border-box;

  a {
    color: inherit;
    text-decoration: underline;
  }

  li {
    list-style: none;

    &:before {
      content: none;
    }
  }

  ul {
    margin: 0;
  }

  svg {
    display: block;
    width: 1em;
    height: 1em;
    margin: 0 auto 1em;
    padding: 5px;
    border: .25em solid $notice--color;
    border-radius: 50%;
  }

  .krumo-root {
    text-align: left;
  }
}

.messages--status {
  border-top-color: $notice--success-color;

  svg {
    border-color: $notice--success-color;
  }

  path {
    fill: $notice--success-color;
  }
}

.messages--warning {
  border-top-color: $notice--warning-color;

  svg {
    border-color: $notice--warning-color;
  }

  path {
    fill: $notice--warning-color;
  }
}

.messages--error {
  border-top-color: $notice--error-color;

  svg {
    border-color: $notice--error-color;
  }

  path {
    fill: $notice--error-color;
  }
}


/*
Message pour les navigateurs non optimisés

Markup: url()->find(.notice--browser)

Styleguide Notices - 10.notice--browser
*/
.notice--browser {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: $zindex--big;
  padding: 350px 15%;
  @include font(primary, 700);
  text-align: center;
  background: $color--background url("../../images/logo.png") no-repeat center 200px;
  background-size: 250px auto;
}
