.push {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;

  /*
     ========================================================================== */
  > .item-body {
    position: relative;
    z-index: 1;
    padding: var(--frontend--valign--big) 10%;
    width: 100%;
    box-sizing: border-box;

    > * {
      max-width: 800px;
    }

    h2,
    h3,
    h4 {
    }
  }

  /*
     ========================================================================== */
  > .item-image {
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 100%;
      transform: translate(-50%, -50%);
      object-fit: cover;
      filter: brightness(0.65);
    }
  }


  /* Avec background image
     ========================================================================== */
  &.l-image {
  }

  /* Sans
     ========================================================================== */
  &:not(.l-image) {
    text-align: center;
  }
}


/* Entity view
   ========================================================================== */
body.entity--content-push {
  .push {

  }
}
