.row {
  //position: relative;
  width: 100%;
  max-width: calc(var(--frontend--breakpoint--screen) + var(--frontend--gutter--row) * 2);
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--frontend--gutter--row);
  padding-right: var(--frontend--gutter--row);
  box-sizing: border-box;
}

.row--small {
  max-width: calc(var(--frontend--row--small) + var(--frontend--gutter--row) * 2);
}

.row--big {
  max-width: calc(var(--frontend--row--big) + var(--frontend--gutter--row) * 2);
}

.row--full {
  max-width: calc(var(--frontend--row--full) + var(--frontend--gutter--row) * 2);
}
