// Styleguide Sliders

.swiper-button-prev,
.swiper-button-next {
  width: var(--swiper-navigation-size);
  color: #fff;
  background-color: var(--swiper-theme-color);
  border-radius: 50%;

  &:after {
    font-size: calc(var(--swiper-navigation-size) / 2);
  }
}

// Custom wrapper for navigation buttons
.swiper-navigation {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: calc(var(--swiper-navigation-size) * 2 + 10px);
  margin-left: auto;
  //margin-bottom: var(--frontend--valign--small);

  .swiper-button-prev,
  .swiper-button-next {
    position: static;
    margin: 0;
    transition: .2s;

    &:after {
      content: none;
    }

    &:before {
      @include font-icon(arrow);
      font-size: 20px;
    }

    &:not(.swiper-button-lock) {
      margin-top: calc(var(--swiper-navigation-size) * -0.75);
      margin-bottom: var(--frontend--valign--small);
    }

    &:not(.swiper-button-disabled) {
      &:hover,
      &:focus {
        background-color: $color--primary;
      }
    }
  }

  .swiper-button-prev:before {
    transform: rotate(-180deg);
  }

  .swiper-button-next:before {

  }
}

.swiper-pagination {
  position: static;
  margin-top: var(--frontend--valign--small);
}


.slider {
}

/* ==========================================================================
   IMAGE GALLERY
   ========================================================================== */
.slider--gallery {
  overflow: visible;

  .slider-item {
    width: auto;
  }
}
