.tabs {
  .tabs-list {
    display: flex;
    gap: 10px;
    margin-bottom: var(--frontend--valign);
    border-bottom: 1px solid $color--border;
  }

  .tab-button {
    @include btn();
    border-radius: $btn--border-radius $btn--border-radius 0 0;

    @include btn-states-default() {
      color: $color--text-lighter;
      background-color: #fff;
      border-color: #fff;
    }
    @include btn-states-user() {
      color: #fff;
      background-color: var(--frontend--theme--color);
      border-color: var(--frontend--theme--color);
    }
  }

  .tab-content {
    margin-bottom: var(--frontend--valign);

    //img {
    //  border-radius: 0;
    //}
  }

  /* Js bahavior
     ========================================================================== */
  &.js-tabs {
    .tab-content {
      &:not(.is-active) {
        display: none;
      }
    }
  }
}
