// Styleguide Tags

/*
Tag par défaut

Markup: url()->find(.tag)

Styleguide Tags - 1.tag
 */
.tag {
  position: relative;
  display: inline-block;
  padding: $tag--padding-vertical $tag--padding-horizontal;
  color: $tag--color;
  @include font(primary, 500);
  font-size: $tag--fontsize;
  line-height: $tag--lineheight;
  background: $tag--background;
  border: 1px solid $tag--background;
  border-radius: $tag--border-radius;
  box-sizing: border-box;
  transition: .3s;
}

a.tag {
  text-decoration: none;
}

/*
Tag principal

Markup: url()->find(.tag--primary)

Styleguide Tags - 10.tag--primary
*/
.tag--primary {

}


/* ==========================================================================
   Tag cliquable
   ========================================================================== */
.tag--filter {
  padding-right: $tag--padding-horizontal + 22px;
  color: #fff;
  background-color: $color--primary-darker;
  border-color: $color--primary-darker;
  transition: .2s;

  &:after {
    @include font-icon(close);
    position: absolute;
    top: calc(50%);
    right: $tag--padding-horizontal;
    transform: translateY(-50%);
    font-size: .85em;
    opacity: .8;
  }

  &:hover,
  &:focus {
    background: transparent;
    color: $color--primary-darker;

    &:after {
      opacity: 1;
    }
  }
}
