// Styleguide Titles

/*
.title--h1 - H1
.title--h2 - H2
.title--h3 - H3
.title--h4 - H4

Markup: <span class="$modifierClass">Titre</span>

Styleguide Titles - 1.title
*/
h1,
.title--h1,
.content-title,
h2,
.title--h2,
h3,
.title--h3,
h4,
.title--h4 {
  @include font(primary, 700);
  color: var(--frontend--theme--title-color);
  line-height: var(--frontend--title--line-height);
}

h1,
.title--h1,
.content-title {
  //@include font(primary, 700);
  font-size: var(--frontend--title-h1--font-size);
}


h2,
.title--h2 {
  font-size: var(--frontend--title-h2--font-size);

  b,
  strong {
  }
}

h3,
.title--h3 {
  //@include font(primary, 500);
  font-size: var(--frontend--title-h3--font-size);
}

h4,
.title--h4 {
  //@include font(primary, 500);
  font-size: var(--frontend--title-h4--font-size);
}

