{#
/**
 * @file
 * Default theme implementation for Symfony Email wrapper.
 *
 * Variables:
 * - body: Email body content.
 * - is_html: True if generating HTML output, false for plain text.
 * - subject: Email subject.
 * - type: Email type.
 * - sub_type: Email sub-type.
 * - attributes: HTML attributes for the top-level email element.
 *
 * @see template_preprocess_email_wrap()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
  'email-type-' ~ type|clean_class,
  'email-sub-type-' ~ sub_type|clean_class,
  'mail-mainBody'
]
%}

{% if is_html %}
  <html>
  <head>
    <meta http-equiv="Content-Type" content="text/html charset=UTF-8"/>
  </head>
  <body>
  <div {{ attributes.addClass(classes) }}>
    <table class="mail-table mail-body">
      <tr>
        <td height="40"></td>
      </tr>
      <tr>
        <td>
          <center>
            <table class="mail-table mail-container">
              <tr>
                <td class="mail-header">
                  <table class="mail-table">
                    <tr>
                      <td height="3" class="mail-border-primary"></td>
                    </tr>
                    <tr>
                      <td height="24"></td>
                    </tr>
                    <tr>
                      <td>
                        <table class="mail-table">
                          <tr>
                            <td width="30"></td>
                            <td>
                              <a class="mail-link" href="{{ base_url }}" target="_blank">
                                <img class="mail-image" width="200" src="{{ logo }}"
                                     alt="{{ site_name }}"/>
                              </a>
                            </td>
                            <td width="30"></td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td height="24"></td>
                    </tr>
                  </table>
                </td>
              </tr>

              {% if header.header_banner %}
                <tr>
                  <td class="mail-header-banner">
                    <table class="mail-table">
                      <tr>
                        <td>
                          <img class="mail-image" width="650" src="{{ header.header_banner.url }}"
                               alt="{{ header.header_banner.alt }}"/>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              {% else %}
                <tr>
                  <td height="1" class="mail-border-secondary"></td>
                </tr>
              {% endif %}
              <!-- #HEADER -->

              <!-- CONTENT -->
              <tr>
                <td height="50"></td>
              </tr>
              <tr>
                <td class="mail-content">
                  <table class="mail-table">
                    <tr>
                      {% if body_no_row != true %}
                        <td width="30"></td>
                      {% endif %}
                      <td>
                        <table class="mail-table">
                          <tr>
                            <td>
                              {{ body }}
                            </td>
                          </tr>
                        </table>
                      </td>
                      {% if body_no_row != true %}
                        <td width="30"></td>
                      {% endif %}
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td height="50"></td>
              </tr>
              <!-- #CONTENT -->
              {% if content_after %}
                <tr>
                  <td class="mail-content-after">
                    <table class="mail-table">
                      <tr>
                        <td height="1" class="mail-border-secondary"></td>
                      </tr>
                      <tr>
                        <td height="30"></td>
                      </tr>
                      <tr>
                        <td>
                          <table>
                            <tr>
                              <td></td>
                              <td width="200" align="center" class="mail-button">
                                <a rel="noopener" target="_blank" href="" target="_blank">I am a button</a>
                              </td>
                              <td></td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                      <tr>
                        <td height="40"></td>
                      </tr>
                    </table>
                  </td>
                </tr>
              {% endif %}

              <!-- FOOTER -->
              {% if footer %}
                <tr>
                  <td class="mail-post-footer">
                    <table class="mail-table">
                      {% if footer.social %}
                        <tr>
                          <td height="40"></td>
                        </tr>
                        <tr>
                          <td>
                            <table class="mail-table mail-social">
                              <tr>
                                <td width="30"></td>
                                <td>
                                  <center>
                                    <table>
                                      <tr>
                                        {% for name, social in footer.social %}
                                          <td width="5"></td>
                                          <td width="25">
                                            <a href="{{ social }}" target="_blank" title="{{ name|capitalize }}">
                                              <img src="{{ theme_assets }}images/email/{{ name }}.png?v=2023" alt="{{ name }}" width="25">
                                            </a>
                                          </td>
                                          <td width="5"></td>
                                        {% endfor %}
                                      </tr>
                                    </table>
                                  </center>
                                </td>
                                <td width="30"></td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                        <tr>
                          <td height="20"></td>
                        </tr>
                      {% endif %}
                      {% if footer.menu %}
                        <tr>
                          <td height="10"></td>
                        </tr>
                        <tr>
                          <td>
                            <table class="mail-table">
                              <tr>
                                <td width="30"></td>
                                <td>
                                  <center>
                                     <span class="mail-text">
                                        {% for link in footer.menu %}
                                          <a href="{{ link.href }}" target="_blank">{{ link.title|striptags }}</a>
                                        {% endfor %}
                                  </span>
                                  </center>
                                </td>
                                <td width="30"></td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                        <tr>
                          <td height="30"></td>
                        </tr>
                      {% endif %}
                    </table>
                  </td>
                </tr>
                {% if footer_custom %}
                  <tr>
                    <td height="40"></td>
                  </tr>
                  <tr>
                    <td class="mail-rgpd">
                      <table class="mail-table">
                        <tr>
                          <td width="40"></td>
                          <td>
                            <center>
                              <span class="mail-text">{{ footer_custom }}</span>
                            </center>
                          </td>
                          <td width="40"></td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td height="20"></td>
                  </tr>
                {% endif %}
                {% if footer.rgpd %}
                  <tr>
                    <td height="30"></td>
                  </tr>
                  <tr>
                    <td class="mail-rgpd">
                      <table class="mail-table">
                        <tr>
                          <td width="40"></td>
                          <td>
                            <center>
                              <span class="mail-text">{{ footer.rgpd|raw }}</span>
                            </center>
                          </td>
                          <td width="40"></td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td height="30"></td>
                  </tr>
                {% endif %}
              {% endif %}

              <!-- #FOOTER -->
            </table>
          </center>
        </td>
      </tr>
      <tr>
        <td height="80"></td>
      </tr>
    </table>
  </div>
  </body>
  </html>
{% else %}
  {{ body }}
{% endif %}

